
@import "header"; 
@import "footer";

*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/* position variables */
$wrap-height: 425px;
$wrap-corner: 5px;
$wrap-margin: 10px;
$wrap-padding: 5px; 
$thumbnail-height: 175px;
$thumbnail-width: 175px;

/* appearance variables */
$body-bg: #B89300;
$light-blue-bg: #13747D; /* light blue */
$forest-green-bg: #668C4D;
$wrap-highlight: #83555E; /* reddish */
$button-border: #333333;
$big-q-color: #56416C;
$big-a-color: #FFF7C0;

$title-bg: #000000;
$graphic-bg: #333333; /* same as wrap bg */
$top-wrap-bg: #00004C;
$links-bg: #EBD8B7;
$links: #77CCA4;
$text-bg: #000000;
$descr-bg: #000000;
$text-white: #FFFFFF;
$text-gray: #333333;
$text-black: #000000;
$facebook-blue: #012677;
$twitter-blue: #45ADA8;

$event-bg: #474843; /* dark gray */
$issue-bg: #152B3C; /* dark blue */
/* $other-bg: #474843; */ /* beige */

$other-bg: #333333;
$row-color1: #919167; /* grayish 1 */
$row-color2: #CDBDAE; /* grayish 2 */

body { 
  /* position */
  position: relative; /* TECH NOTE: change to absolute; explain behavior */
  margin: auto; /* TECH NOTE: what does this do? */
  
  /* appearance */ 
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.88889;
  color: $body-bg;
  background-color: $other-bg; 
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  box-shadow: 2px -2px 10px #111111;  

  .screen_wide_spacer { /* TECH NOTE: Is there a better solution */
    /* transparent spacer, e.g., btw fixed header and other body elements */
    position: relative;
    width: 98%;
    height: $header-height;
  }

  .anchor { 
    display: block;
    position: relative;
    top: -$header-height;
    visibility: hidden;
  }

  .thumbnail-wrap {
    /* position */
    float: left;
    display: block;
    position: relative;
    margin: 5px;
    padding: 5px;
    width: 100%;
    height: auto;

    /* appearance */
    background: transparent;
    box-shadow: inherit;

    /* avoid the great collapse */
    &:after { 
       content: ""; 
       display: block; 
       height: 0; 
       clear: both;
    }
  }

  .thumbnail {
    /* position */
    display: block;
    position: relative;
    float: left;
    margin: 8px;
    padding: 5px;
    width: $thumbnail-width;
    height: $thumbnail-height;
    overflow-y: auto;
    
    /* appearance */
    background: $light-blue-bg; 
    font-size: 15px;
    color: #000000;
    border-radius: $wrap-corner;
    box-shadow: inherit;
  }

  .long {
    width: $thumbnail-width * 2.5; 
    height: $thumbnail-height;
  }

  .thumbnail-title {
    /* position */
    display: block;
    position: relative;
    margin: 5px;
    padding: 5px;

    /* appearance */
    background-color: $text-gray;
    color: #FFFFFF;
    font-size: 9pt;
    transition: all 250ms linear;
    font-family: 'Lucida Grande';
    text-transform: uppercase;
    border-radius: $wrap-corner;

  }

  .thumbnail-descr {
    /* position */
    display: block;
    position: relative;
    padding: 0px;
    margin: 0px;

    /* appearance */
    font-family: helvetica neue;
    font-size: 10pt; 
    transition: all 200ms ease-in-out;

  } 

  .social-media-item {
      /* position */
      display: block;
      position: relative;
      padding: 0px;
      margin: 0px;

      /* appearance */
      color: $text-white;
      font-size: 4px;
  
      ul {

      /* position */
      display: block;
      position: relative;
      padding: 0px;
      margin: 0px;         

        li {
            /* position */
            position: relative;
            overflow: hidden;
            display: block;
            height: 40px;
            width: 120px;
            margin: 0px;
            padding: 0px;
            text-align: center;
            border-radius: 40px;

          a.facebook { 
            /* position */
            position: relative;
            overflow: hidden;
            display: block;
            height: 100%;
            width: 40px;
            margin: 0px;
            padding-left: 10px;
            padding-top: 2px;
            text-align: left;
            font-weight: bold;

            /* appearance */
            font-family: helvetica neue;
            font-size: 16pt; 
            color: $text-white;
            background: $facebook-blue;
            border: 1px solid $top-wrap-bg;
            border-radius: 40px;
            text-decoration: none;
            transition: all 200ms ease-in-out;

            &:hover {
              width: 100%;
            }

            &:after {
              /* position */
              position: absolute;
              display: block;
              top: 100%;
              left: 0;
              width: 100%;
              height: 100%;

              /* appearance */
              content: "facebook";
              padding-left: 10px;
              text-align: left;
              padding-top: 5px;
              font-weight: bold;
              font-size: 12pt;
              background: $facebook-blue;
              transition: all 100ms linear;
            }

            &:hover:after {
              top: 0%;
            }
          }
           
          a.twitter{ 
            /* position */
            position: relative;
            overflow: hidden;
            display: block;
            height: 100%;
            width: 40px;
            margin: 0px;
            padding-left: 10px;
            padding-top: 2px;
            text-align: left;
            font-weight: bold;

            /* appearance */
            font-family: helvetica neue;
            font-size: 16pt; 
            color: $text-white;
            background: $twitter-blue;
            border: 1px solid $top-wrap-bg;
            border-radius: 40px;
            text-decoration: none;
            transition: all 200ms ease-in-out;

            &:hover {
              width: 100%;
            }

            &:after {
              /* position */
              position: absolute;
              display: block;
              top: 100%;
              left: 0;
              width: 100%;
              height: 100%;

              /* appearance */
              content: "twitter";
              padding-left: 10px;
              text-align: left;
              padding-top: 5px;
              font-weight: bold;
              font-size: 12pt;
              background: $twitter-blue;
              transition: all 100ms linear;
            }

            &:hover:after {
              top: 0%;
            }
          }

      }
    }
      
  } 

  .button-link {
      /* position */
      display: block;
      position: relative;
      padding: 0px;
      margin: 0 auto;

      /* appearance */
      color: $text-white;
      font-size: 4px;
 
      ul {
          /* position */
          display: block;
          position: relative;
          padding: 0px;
          margin: 0px;         

        li {
            /* position */
            position: relative;
            overflow: hidden;
            display: inline-block;
            height: auto;
            width: 100%;
            margin: 0px;
            padding: 0px;
            text-align: center;

          a { 
            /* position */
            position: relative;
            overflow: hidden;
            display: inline-block;
            height: auto;
            width: 100%;
            margin: 0px;
            padding: 0px;
            text-align: left;

            /* appearance */
            font-size: 10pt; 
            background: inherit;
            color: $button-border;
            border: 1px solid $button-border;
            border-radius: $wrap-corner;
            text-decoration: none;

            span {
              /* position */
              float: left;
              padding: 0;
              margin: 0;
              z-index: 5;
              position: relative;
              color: black; 
            } 

              &:after {
                /* position */
                position: absolute;
                display: block;

                /* appearance */
                content: "";
                background: $wrap-highlight;
                top: 100%;
                left: 0;
                width: 100%;
                height: 100%;
                transition: all 100ms linear;
              }

              &:hover:after {
                top: 0%;
              }

              &:hover{
                color: gray;
              }         
          }         
      }
    }
      
  }    

  .banner {
    /* position */
    display: block;
    position: relative;
    margin: 5px;
    padding: 5px;
    width: 100%;
    height: auto;

    /* appearance */
    background: transparent;
    /* box-shadow: 2px -2px 10px #111111; */
    border-radius: $wrap-corner;

    /* avoid the great collapse */
    &:after { 
       content: ""; 
       display: block; 
       height: 0; 
       clear: both;
    }

    .banner-title {
      /* position */
      width: 99%;
      height: 20%;
      margin: inherit;
      padding: inherit;
      
      /* appearance */
      background: transparent;
      box-shadow: 2px -2px 10px #111111;
      border-radius: $wrap-corner;
      font-family: "Arial";
      font-size: 28px;
      color: $text-white;
    }

    .top-wrap {
      /* position */
      display: inline;
      float: left;
      width: 99%;
      height: 75%;
      margin: $wrap-margin;
      padding: $wrap-padding;

      /* appearance */
      color: $text-white;
      background: $top-wrap-bg;
      border-radius: $wrap-corner;
      box-shadow: 2px -2px 10px #111111;
      font-family: Arial; 

      .dancing-cursive {
        h2 {
          font-family: "Dancing Script";
          font-size: 24pt; 
          color: $text-white;
          text-align: center;

        }
        h3 {
          font-family: Arial;
          font-style: italic;
          font-size: 12pt; 
          text-transform: uppercase;
          color: $text-white;
          text-align: center;
        }
      }

      .dancing-cursive.big-q {
        font-family: "Dancing Script";
        color: $big-q-color;
        font-size: 24pt;
        text-align: left;
        margin-right: 1rem;
      }

      .dancing-cursive.big-a {
        font-family: "Dancing Script";
        color: $big-a-color;
        font-size: 24pt;
        text-align: left;
        margin-left: 1rem;
        margin-right: 1rem;
      }      

      h2 {
        font-size: 15pt;
        font-family: Arial; 
        color: $text-gray;
      }

      ol {
        margin-left: 35px;
        color: $text-white;
        li:before {
            content: ""; /* Insert content that looks like bullets */
            padding-right: 8px;
          }
      }

      ol ol {
        color: $text-white;
        list-style-type: lower-alpha;
        font-style: italic;
      }

      p {
        margin-left: 20px;
        color: $text-white;
        margin-bottom: 20px;
      }

      table {
          width:100%;
          margin: 10px;
      }
      table, th, td {
          border: 1px solid #048091;
          border-collapse: collapse;
      }
      th, td {
          padding: 5px;
          text-align: left;
      }
      table tr:nth-child(even) {
          background-color: $row-color1;
      }
      table tr:nth-child(odd) {
         background-color: $row-color2;
      }
      table th {
          background-color: black;
          color: white;
      }

      .description {
        /* position */
        width: 99%;
        height: 65%;
        margin: $wrap-margin $wrap-margin ($wrap-margin + 5px) $wrap-margin;
        padding: $wrap-padding; 

        /* appearance */
        background: $descr-bg;
        border-radius: $wrap-corner;  

        .text-descr {
          /* position */
          float: left;
          width: 76%;
          height: 95%;
          margin: $wrap-margin $wrap-margin ($wrap-margin + 5px) $wrap-margin;
          padding: $wrap-padding + 5px; 

          /* appearance */
          background: $text-bg;
          border-radius: $wrap-corner;
          font-family: "Arial";
          font-size: 10px;
          color: $top-wrap-bg;
        }

        .graphic-right {
          /* position */
          float: right;
          width: 20%;
          height: auto;
          vertical-align: middle;
          margin: $wrap-margin;
          padding: ($wrap-padding + 5px) $wrap-padding $wrap-padding ($wrap-padding + 15px);

          background: $graphic-bg;
          border-radius: $wrap-corner;
        }

      }

      .links {
        width: 20%;
        min-width: 225px;
        height: 28%;
        margin: 0 auto;
        /*margin: ($wrap-margin + 5px) $wrap-margin $wrap-margin $wrap-margin;*/
        padding: ($wrap-padding + 5px) $wrap-margin $wrap-margin $wrap-margin;

        /* appearance */
        background: $links-bg;
        border-radius: $wrap-corner;  
        text-transform: uppercase;
      }
    }
  }

}



/*

DONE Replace BRIDGE image with possibly another website image

Front page: "Hot button" issues in "items" captions; one box per issue. Think of icon/thumbnail for each issue
http://www.justicemattersinkansas.org/justice_matters_child_welfare
PUT THESE (e.g., child welfare) on FRONT PAGE BOXES (see http://icarejax.org as example smaller boxes)

Full face lift is okay!

Team members should have login to some kind of share or repo to easily access material. Now website is connected to Dwolla 
account for donations. Need to have some way to accept credit card info, easy donation. 
RESEARCH PAYMENT METHODS, a PayPal of non-profits. 

See DART website as example 

CALENDAR of events needed. BANNER for big events coming up should be highlighted, provided they have a "checkbox" as high pri.

X
PUBLIC RELATIONS: any Post and Courier, other articles;

X
HISTORY: grab from existing website ;


***********

http://www.justicemattersinkansas.org/justice_matters_history  (Ben)

VIDEOS: Wage theft. Look for on website. Highlights, compilations of actions put together. PLACEHOLDER FOR NOW only. 

STILL SHOTS: Use Charleston area public domain photos;


CONGREGATIONS / MEMBERS

*****************

http://icarejax.org/   (Kristin)
put photos one-click away from front page, but still easily accessible

X
FACEBOOK AND TWITTER LINKS / CIRCULAR BUTTONS

***************

SOCIAL MOVEMENT SLIDES:
DESIGN: What advocacy sites need;
  Action Site; archive declutter stuff
  Flexible way to feature an action (donation) Action prominent "above fold"
  easy email sign up
  FULLY RESPONSIVE: tablet, phone, sign up form "above fold" on any device;
  clean, clutter-free design, see SEIU front page (complex org, good simple sign)
  buttons, shadows 
  flat design: 
  - Fixed backgrounds with floating text (350.org) less buttons and shadow boxe.;
  - less text, more photos (AFLCIO)
site examples:;
  - www.seiu.org: 
    - PROs: dark background, front and center email signup, photos with minmal text in news items;
  - www.mcan-pico.org
    - PROs: simple donate, signup buttons;
  - www.africans.us
    - PROs: good photo background, good mobile responsiveness.
  - www.ualocal393.org
    - clear action links, photos of people in background, FB, TW links
  - www.fightthetpp.org
    - short message (not long email/letter) and action you're asking them to take

    Check your site's optimization by channel: http://smo.knowen.com;

Check donate link for functionality

LIST OF PAGES TO PUT ON... or leave out.

good registrars: name.com, joker.com, gandi.net;

letsencrpt.org (certs for nonprofit)
startcom.com (certs for private)

TorBrowser (visit websites anonymously)

HOSTING SERVICES:
- digitalocean.com
- flywheel
- wpengine
- singlehop 
- electricembers
- sonic.net
- media temple

contributions, selling items:
- willcommerce



*/
