<header>
  <div class="container"> 
    <div class="signature"> 
      <a href="/index.html">
        <img src="assets/images/cajm.jpg" width="200" height="60" /> 
      </a>
    </div>

    <nav>
      <ul id="main-nav">       
        <li class="has-dropdown"> <a href="/index.html"> Home </a> 
          <ul class="dropdown">
            <li>
              <a href="/index.html#events"> 
                Events 
              </a>
            </li>
            <li>
              <a href="/index.html#calendar">
                Calendar 
              </a>     
            </li>
            <li>
              <a href="/index.html#issues">
                Issues 
              </a>     
            </li>  
            <li class="has-dropdown"> 
              <a href="/index.html#historymedia"> History, Current Media </a>
              <ul class="dropdown second-level">
              <!-- FIX BELOW: second-level dropdown not working -->                  
                <li>
                  <a href="/index.html#historymedia"> CAJM in the News </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li class="has-dropdown"> <a href="/index.html#issues"> News </a> 
          <ul class="dropdown">
            <li> <a href="http://www.postandcourier.com/article/20150424/PC1204/150429573"> Fighting Wage Theft </a> </li>
            <li> <a href="http://www.postandcourier.com/article/20131115/PC12/131119588"> 
              Diverse in Faith, United in Purpose </a> </li>
            <li> <a href="http://www.charlestoncitypaper.com/charleston/at-nehemiah-action-pastors-demand-policy-change-with-confrontational-techniques/Content?oid=4912669"> 
              CAJM Speaks Truth to Power </a> </li>
          </ul>
        </li>
        <!-- FIX BELOW: second-level dropdown not working --> 

        <li class="has-dropdown"> <a href="/faqs.html"> FAQs </a> 
          <ul class="dropdown">
            <li> <a href="/faqs.html#cajm-goals-general"> What are CAJM's general goals? </a> </li>
            <li> <a href="/faqs.html#cajm-goals-growth"> What are CAJM's goals for growth and expansion? </a> </li>
          </ul>
        </li>
      </ul>
    </nav>

    <div class="social-media twitter">
      <a href="https://twitter.com/cajmrevolution"> t
      </a>
    </div>
    
    <div class="social-media facebook"> 
      <a href="https://www.facebook.com/charlestonareajusticeministry/"> 
        f 
      </a>
    </div> 

    <div class="logo">
      <img src="/assets/images/scales_gray.jpg" width="58" height="58" />
    </div>



  </div>
</header>
