<!DOCTYPE html>

<html>
<head>

    <title> CAJM Constitution and By-Laws </title> 

    <script type="text/javascript" >
        document.title = "Donate";
    </script>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/assets/stylesheets/global.css" />

    <link href='https://fonts.googleapis.com/css?family=Dancing+Script' 
        rel='stylesheet' type='text/css'>
    
</head>

<!-- begin page wrapper and body -->
<body> 
    <div class="screen_wide_spacer"> 
    </div>
    
    <div class="banner" id="banner-laws">
        <span class="banner-title">
            Constitution and Bylaws for the Charleston Area Justice Ministry
        </span>
        
        <div class="top-wrap">
            <div class="dancing-cursive">
                <h2> Donate Online: </h2>  
            </div>
            <div class ="links">    
                <div class="button-link">
                    <ul>
                        <li>        
                            <!-- Check this link for functionality -->
                            <a href="#"> 
                                <span> UNDER CONSTRUCTION </span>
                            </a>                                        
                        </li>       
                    </ul> 
                </div> 
            </div>
        </div>
    
        <div class="top-wrap laws">
            <div class="dancing-cursive">
                <h2> Donate   </h2>   
                <h3> Mail-in  </h3>            
            </div>
            <p>
                Congregations, organizations, and individuals may make a tax deductible donation to CAJM by mailing a check to:
            </p>
                <li> Charleston Area Justice Ministry (CAJM) </li>
                <li> P.O. Box 71416 </li>
                <li> North Charleston, SC 29415 </li>

            <p>
                Please click on "NEXT" to see the Financial Commitment Form we recommend you use:              
            </p>
        </div>       

        <div class="top-wrap laws">
            <div class="dancing-cursive">
                <h2> Congregations  </h2>   
                <h3> Financial Commitment Form </h3>           
            </div>
            <p>
                Charleston Area Justice Ministry (CAJM)
            </p> 
            <p>
                Congregational Financial Commitment Form
            </p> 
            <p>                 
                Purpose: CAJM shall build a Congregation-Based Justice Ministry, including fundraising and member recruitment.
            </p> 
            <p>
                Mission: CAJM shall build a powerful Congregation-Based Justice Ministry capable of negotiating the interests of our communities and committed to doing justice.  The organization shall be comprised of a diverse group of religious congregations.  Having been founded by religious congregations, the organization shall be based on the values of justice and compassion as shared by our faith traditions.
            </p> 
            <p>
                Financial Commitment: To build a strong and sustainable financial foundation for the organization, CAJM has developed a goal for each congregation to invest 1% of their operating budget each year in this Congregation-Based Justice Ministry.
            </p> 
            <p>
                Congregation Name __________________________________________________________
            </p> 
            <p>                 
                Address ________________________________
            <p>
            </p>
                ________________________________

            </p> 
            <p>                 
                Phone  __________________    Email ____________________________________________

            </p> 
            <p>                 
                Our financial commitment for 2014 will be $ ____________________.

            </p> 
            <p>                 

                We will pay this amount (please indicate): Annually ____  (Date ____________________)

                Quarterly_____ (March, June, Sept., Dec.)

                Monthly  _____

            </p> 
            <p>                 

                We would like an invoice to remind us of our commitment. ___________

                  
            </p> 
            <p>
                 

                Checks should be made out to:         
                CAJM
                Mail to:         
                    CAJM
                    P.O. Box71416
                    North Charleston,SC29415  

                Name of Pastor ______________________________________­­­­­­­­­­­­­_______________

            </p> 
            <p>                 

                 

                 

                Signature          _______________________________________   Date____________

            </p> 
            <p>                 

                Note:  If someone else at the congregation should receive reminders on this matter please indicate their name: ________________________________________
            </p>
        </div>  

        <div class="top-wrap laws">
            <div class="dancing-cursive">
                <h2> Individuals </h2>
                <h3> Financial Commitment Form</h3>
            <p> 
                Charleston Area Justice Ministry (CAJM)

                Individual Financial Commitment Form for 2014

            </p>
            <p>     

                Purpose: CAJM shall build a congregation-based justice ministry, including fundraising and member recruitment.

            </p>
            <p>                  

                Mission: CAJM shall build a powerful Congregation-Based Justice Ministry capable of negotiating the interests of our communities and committed to doing justice.  The organization shall be comprised of individuals from a diverse group of religious congregations.  Having been founded by religious congregations, the organization shall be based on the values of justice and compassion as shared by our faith traditions.

            </p>
            <p>                  

                Financial Commitment: CAJM requests each individual to invest as much as possible annually to help build a strong and sustainable financial foundation for the organization each year in this Justice Ministry.

            </p>
            <p>                  

                Name __________________________________________________

            </p>
            <p>                  

                Address ________________________________________________________       

            </p>
            <p>                  

                ________________________________________________________________

            </p>
            <p> 
                Phone(s)  _______________________________________________________   

            </p>
            <p>                  

                Email __________________________________________________________

            </p>
            <p>              

                My financial commitment for 2014 will be $ ____________.

            </p>
            <p>              

                I will pay this amount (please indicate): 
                Annually ____  (Date                                 )

                Quarterly_____ (March, June, Sept, Dec)

                Monthly  _____

                 

                I would like an invoice to remind us of our commitment. ___________


            </p>
        </div>
        </div>
    </div>

</body> 

</html>
