<!DOCTYPE html>

<html>
<head>

    <title> FAQs </title> 

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/assets/stylesheets/faqs.css" />
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower' 
        rel='stylesheet' type='text/css'>

    <script src="/assets/javascripts/jquery-1.11.3.min.js">
    </script>
     
    <script src="/assets/javascripts/faqs_table.js">
    </script>    

</head>

<!-- begin page wrapper and body -->
<body> 
    <div class="screen_wide_spacer"> </div>
    
    <div class="banner">
        <span class="banner-title">
            FAQs
        </span>
        <div class="graphic">
            <img src="assets/images/cross_star_crescent.jpg"
            width="100" height="150"/>     
        </div>
        <div class="descr-and-links">
            
            <h2>
                Q: What are CAJM's general goals? 
            </h2> 
            <h2>
                A: The general goals of the Charleston Area Justice Ministry (CAJM) include:
            </h2> 

            <ol>
                <li> 
                    To build strong relationships among religious congregations.
                </li>
                <li>
                    To develop a culture of accountability within CAJM and to hold public institutions accountable to address local community issues of concern to member congregations through a process of education, research, action, and reflection.
                </li>
                <li>
                    To strengthen member congregations by training existing leaders in organizing skills, identifying new leaders, and building justice ministry networks.
                </li>
                <li>
                    To enable member congregations to act successfully on shared values of justice and fairness.
                </li>
            </ol>

            <h2>
                Q: What are CAJM's goals for growth and expansion? 
            </h2> 
            <h2>
                A: The general goals of CAJM include:
            </h2>      
            <div>
                <div id="header-row">
                    <div> 2012 </div> 
                    <div> 2013 </div> 
                    <div> 2014 </div> 
                    <div> 2015 </div> 
                </div>
                <div id="nehemiah-turnout">

                </div> 

                <div id="congregations">

                </div>                   
                <div id="member-needed">

                </div> 
                <div id="staff">

                </div> 
                <div id="budget">

                </div> 
                <div id="dues">

                </div> 
                <div id="member-drive">

                </div> 
                <div id="corporate">

                </div> 
                <div id="grants">

                </div> 
            </div>


            <div class ="links">    
                <a href="#" class="button"> Donate: Will you invest in CAJM? </a>
            </div>
        </div>
        
        <div style="clear: both">
        </div>

    </div>


    <div class="issue-wrap"> 
        <div class="item-title"> 
            See Treva's August CAJM Update
        </div>
        <div class="item"> 2015-2016 CAJM Meetings at a glance 
            <li> 
                CAJM Member Congregations 
            </li>
            <li> CAJM Corporate Partners </li>
        </div>

    </div>

    <div class="event-wrap">

        <div class="banner">
            <span class="banner-title"> 
               Events
            </span>
        </div>

        <div class="item-wrap"> 
            <div class="item-title"> 
                Research Kick-Off
            </div>    
            <div class="item-descr"> 
                Time: Mon Dec 7th 7:00pm
                Location: St. James Presbyterian Church 
                1314 Secessionville Road 
                Charleston, SC 29412 
            </div>
            <a href="http://www.charlestonareajusticeministry.org/index.php/faq/176-what-is-the-cajm-research-to-action-kick-off"> Research-to-action kickoff </a>  
        </div>

        <div class="item-wrap"> 
            <div class="item-title"> 
                Rally
            </div> 
            <div class="item-descr"> 
                Time: Mon Mar 14th 7:00pm
                Location: TBD 
            <a href="http://www.charlestonareajusticeministry.org/index.php/faq/178-what-is-the-cajm-rally"> CAJM Rally</a>
            </div>
        </div>

        <div class="item-wrap"> 
            <div class="item-title">
                Nehemiah Action Assembly
            </div>
            <div class="item-descr"> 
                Bring at least three people with you!
                Location: TBD 
                Time: Mon 4/18/2016 7pm
            </div>
            <a href="http://www.charlestonareajusticeministry.org/index.php/faq/179-what-is-the-cajm-nehemiah-action"> Nehemiah Action Assembly 
            </a>
        </div>

        <div class="item-wrap"> 
            <div class="item-title">
                Celebration and Investment Drive Kick-Off
            </div>
            <div class="item-descr"> 
                Location: TBD 
                Time: Mon 5/23/2016 7pm
            </div>
            <a href="http://www.charlestonareajusticeministry.org/index.php/faq/180-what-is-the-cajm-celebration">
            CAJM Celebration </a>
        </div>

        <div style="clear: both">
        </div>

    </div>



    <div class="issue-wrap">

        <div class="banner">
            <span class="banner-title"> 
               Issues
            </span>
        </div>

        <div class="item-wrap"> 
            <div class="item-title"> 
                Wage Theft
            </div>
            <div class="item">
                <ul>
                    <li>        
                        <a href="http://www.postandcourier.com/article/20150424/PC1204/150429573"> 
                            <span> Fighting Wage Theft </span>
                        </a>                                        
                    </li>       
                </ul> 
            </div>   
        </div>    
        <div class="item-wrap"> 
            <div class="item-title"> 
                Homelessness
            </div>
            <div class="item">
                <ul>
                    <li>        
                        <a href="http://icarejax.org/homelessness/"> 
                            <span> Homelessness </span>
                        </a>                                        
                    </li>       
                </ul> 
            </div>   
        </div>      
        <div class="item-wrap">
            <div class="item-title"> 
                Children's Concerns
            </div> 
            <div class="item">
                <ul>
                    <li>  
                        <a href="http://www.justicemattersinkansas.org/justice_matters_child_welfare"> 
                            <span> Child Welfare </span>
                        </a> 
                    </li>
                </ul>
            </div>
        </div>


        <div style="clear: both">
        </div>

    </div>


    <div class="other-wrap">

        <div class="banner">
            <span class="banner-title"> 
               History and Current Media
            </span>
        </div>

        <div class="item-wrap"> 
            <div class="item-title"> 
                CAJM in the News
            </div>
            <div class="item">
                <ul>
                    <li>        
                        <a href="http://www.postandcourier.com/article/20150424/PC1204/150429573"> 
                            <span> Fighting Wage Theft </span>
                        </a>                                        
                    </li>
                    <li>
                        <a href="http://www.postandcourier.com/article/20131115/PC12/131119588"> 
                            <span> Diverse in Faith, United in Purpose </span>
                        </a>
                    </li>
                    <li> 
                        <a href="http://www.charlestoncitypaper.com/charleston/at-nehemiah-action-pastors-demand-policy-change-with-confrontational-techniques/Content?oid=4912669"> 
                            <span> CAJM Speaks Truth to Power </span>
                        </a>
                    </li>                           
                </ul> 
            </div>   
        </div>     

        <div class="item-wrap"> 
            <div class="item-title"> 
                Videos
            </div>
            <div class="item">
                <ul>
                    <li>        
                        <a href="http://www.postandcourier.com/article/20150424/PC1204/150429573"> 
                            <span> Fighting Wage Theft </span>
                        </a>                                        
                    </li>                         
                </ul> 
            </div>   
        </div>  

        <div class="item-wrap-wide"> 
            <div class="item-title"> 
                CAJM History
            </div>
            <div class="item-descr">
                CAJM began in 2011 when a group of clergy gathered together to form a Sponsoring Committee with the Director of DART to begin the process of establishing a justice organization in the Charleston area. In October of 2012, member congregations came together and voted to address the following issues: Schools/Education and Crime/Violence. CAJM's research committees worked tirelessly to identify the specific issues for CAJM to address. 
            </div>   
        </div> 

        <div class="item-wrap"> 
            <div class="item-title"> 
                Social Media
            </div>
            <div class="social-media-item">
                <ul>
                    <li>        
                        <a class="facebook" href="https://www.facebook.com/charlestonareajusticeministry/"> 
                            f 
                        </a>  
                    </li>
                    <li>
                        <a class="twitter" href="https://twitter.com/justice_chs"> 
                            t 
                        </a>                                       
                    </li>      
                    <li>
                        <a class="twitter" href="https://twitter.com/cajmrevolution"> 
                            t 
                        </a>                                       
                    </li>                      
                </ul> 
            </div>   
        </div> 

        <div style="clear: both">
        </div>

    </div>


</body> 

</html>
