<!DOCTYPE html>

<html>
<head>

    <title> CAJM FAQs </title> 

    <script type="text/javascript" >
        document.title = "CAJM FAQs";
    </script>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/assets/stylesheets/global.css" />
    
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower' 
        rel='stylesheet' type='text/css'>

    <script src="/assets/javascripts/jquery-1.11.3.min.js">
    </script>

    <script src="/assets/javascripts/yaml_min.js">
    </script>

    <script src="/assets/javascripts/faqs.js">
    </script>  

        
</head>

<!-- begin page wrapper and body -->
<body> 


    <div class="screen_wide_spacer"> </div>
    
    <div class="thumbnail-wrap" id="thumbnail-wrap-faqs">

        <div class="banner">
            <span class="banner-title"> 
               FAQs
            </span>
        </div>

        <div class="thumbnail"> 
            <div class="thumbnail-title"> 
                Q: What are CAJM's goals for growth and expansion?
            </div> 
            <div class="thumbnail-descr"> 
                A: The expansion goals of CAJM include:
            </div>
            <div class="button-link">
                <ul>
                    <li>        
                        <a href="#cajm-goals-growth"> 
                            <span> CAJM Expansion Goals </span>
                        </a>                                        
                    </li>       
                </ul> 
            </div> 
        </div>

    </div>

    <div class="banner" id="banner-faqs">
        <span class="banner-title">
            FAQs
        </span>

        <div class="graphic">
            <img src="assets/images/cajm.png"
            width="225" height="100"/>     
        </div>
        

        <div class="top-wrap">
            <a class="anchor" id="cajm-goals-growth"></a>
            <h2>
                Q: What are CAJM's goals for growth and expansion? 
            </h2> 
            <h2>
                A: The general goals of CAJM include:
            </h2>   

            <table style="width:50%"> 
                <tr>
                    <th> Goal </th> 
                    <th> 2012 </th> 
                    <th> 2013 </th> 
                    <th> 2014 </th>
                    <th> 2015 </th>
                </tr>                
                <tr>
                    <td> Nehemiah Turnout </td> 
                    <td> 0 </td> 
                    <td> 1500 </td> 
                    <td> 2250 </td>              
                    <td> 3000 </td>
                </tr>
                <tr>
                    <td> Congregations </td> 
                    <td> 25 </td> 
                    <td> 33 </td> 
                    <td> 41 </td>              
                    <td> 50 </td>
                </tr>
                <tr>
                    <td> Network Member Needed </td> 
                    <td> 0 </td> 
                    <td> 375 </td> 
                    <td> 563</td>              
                    <td> 750 </td>
                </tr>
                <tr>
                    <td> Staff </td> 
                    <td> 1 </td> 
                    <td> 1.5 (Jul) </td> 
                    <td> 3 (Jan) </td>              
                    <td> 4 (Jan) </td> 
                </tr>
                <tr>
                    <td> Budget </td>
                    <td> 66* </td> 
                    <td> 144** </td> 
                    <td> 213 </td> 
                    <td> 261 </td>                   
                </tr>
                <tr>
                    <td> Dues </td>
                    <td> 30 </td> 
                    <td> 50 </td> 
                    <td> 60 </td> 
                    <td> 65 </td>                   
                </tr>   
                <tr>
                    <td> Member Drive </td>
                    <td> 5 </td> 
                    <td> 30 </td> 
                    <td> 50 </td> 
                    <td> 75 </td>                   
                </tr>   
                <tr>
                    <td> Corporate </td>
                    <td> 0 </td> 
                    <td> 20 </td> 
                    <td> 30 </td> 
                    <td> 40 </td>                   
                </tr> 
                <tr>
                    <td> Grants </td>
                    <td> 31 </td> 
                    <td> 44 </td> 
                    <td> 73 </td> 
                    <td> 81 </td>                   
                </tr>                                
            </table>
                <p>
                    *Add 000
                </p>
                <p>
                    ** Includes $20,000 contribution to the reserve
                </p>
                <p>
                    *** Add 3% inflation + 43,000/ new organizer 
                </p>

        </div>

        <!-- Old 2012 content, but we might still use table structure -->
        <!--
        <div class="top-wrap">    
            <h2>    
                Q: What were CAJM's activities in 2012?
            </h2>

            <table style="width:75%"> 
                <tr>
                    <td> 6/28 - 7/14 </td>
                    <td> 
                        Lead Organizer meets w/ Clergy to set goals for N.A., create a list of potential Team Members, create a household map and set Team Meeting date. 
                    </td>
                </tr>                             
                <tr>
                    <td> 7/15 - 8/19 </td> 
                    <td> 
                        L.O. does 1-1s to help identify potential Team Members 
                    </td> 
                </tr>
                <tr>
                    <td> 7/25 </td> 
                    <td> 
                        Executive Committee meets to create 3 year plan (12-3:00 pm) 
                    </td> 
                </tr>    
                <tr>
                    <td> 7/26 </td> 
                    <td> 
                        Ex. Comm at 9:30 AM and CAISC at 11:00 
                        (location-Charity Missionary Baptist) 
                    </td> 
                </tr>  
                <tr>
                    <td> 7/20 - 9/9 </td> 
                    <td> 
                        Justice Ministry Team Meetings 
                    </td> 
                </tr>  
                <tr>
                  <td> 8/30 </td> 
                  <td> CAISC </td> 
                </tr>  
                <tr>
                    <td> 9/10 </td> 
                    <td> 
                        JM Team Assembly 
                        (House Meeting Training for all Team Members)
                    </td> 
                </tr>  
                <tr>
                    <td> 9/11 - 10/14 </td> 
                    <td> 
                        House Meetings(surface community problems and 
                        confirm network members)
                    </td> 
                </tr>                  
                <tr>
                    <td> 10/15 </td> 
                    <td> 
                        JM Team Assembly (problems from house meetings 
                        get narrowed down to 5 or 6) 
                    </td> 
                </tr>            
                <tr>
                    <td> 10/29 </td> 
                    <td> 
                        Covenanting and Community Problems Assembly
                        (all network members attend. We’ll vote on 1 or 2 problems to address.) 
                    </td> 
                </tr>  
                <tr>
                    <td> 11/13 - 11/17 </td> 
                    <td>             
                        ALTI (Advanced Leadership Training Institute)
                        prepare for the research to action phase 
                    </td> 
                </tr>    
                <tr>
                    <td> 12/3 </td> 
                    <td>             
                       Research Kickoff (form research committees)
                    </td> 
                </tr>                                   
            </table>

            <table style="width:75%"> 
                <tr>
                    <td> 
                        52 to 1
                    </td>
                    <td> 
                        52 times a year we turn out our average worship (weekly) attendance to do faithfulness ministry.  We should be able to turn out our AWA to do justice 1 time during the year.
                    </td>
                </tr> 
                <tr>
                    <td> 
                        Congregational Goal
                    </td>
                    <td> 
                        Turn out your Average Worship Attendance to a Nehemiah Action.
                    </td>
                </tr>  
                <tr>
                    <td> 
                        Network Members...
                    </td>
                    <td> 
                        agree to bring 3 people with them to the Nehemiah Action and attend 3 other events throughout the year (Community Problems Assembly, Rally and The Celebration).  Network members can also participate in research committees and will be given an opportunity to financially invest in the organization.
                    </td>
                </tr>
                <tr>
                    <td> 
                        Team Members...
                    </td>
                    <td> 
                        are network members who agree to bring 3 to the Nehemiah Action AND recruit and organize 10 people to be in their network.  They also attend Team Assemblies, Team Meetings, the CPA, Rally and Celebration.
                    </td>                    
                </tr>   
            </table>

            <table style="width:75%"> 
                <tr>
                    <td> 
                        Wallingford Presbyterian
                    </td>
                    <td> 
                        Thursday, Aug 2 @ 7:00 PM
                    </td>
                </tr> 
                <tr>
                    <td> 
                        New Tabernacle 4th Baptist
                    </td>
                    <td> 
                        Monday, Aug 13 @ 6:30  PM
                    </td>
                </tr> 
                <tr>
                    <td> 
                        St. John’s Catholic Church
                    </td>
                    <td> 
                        Tuesday, Aug 14 @ 7:00 PM
                    </td>
                </tr>
                <tr>
                    <td> 
                        Unitarian Universalist
                    </td>
                    <td> 
                        Wednesday, Aug 15 @ 12:15 PM
                    </td>
                </tr> 
                <tr>
                    <td> 
                        Morris Brown AME
                    </td>
                    <td> 
                        Wednesday, Aug 15 @ 6:00 PM
                    </td>
                </tr>  
                <tr>
                    <td> 
                        St. James Presbyterian
                    </td>
                    <td> 
                        Thursday, Aug 16 @ 7:00 PM
                    </td>
                </tr>  
                <tr>
                    <td> 
                        Blessed Sacrament Catholic Church
                    </td>
                    <td> 
                        Monday, Aug 20 @ 6:30 PM
                    </td>
                </tr>    
                <tr>
                    <td> 
                        Circular 
                    </td>
                    <td> 
                        Wednesday, Aug 22 @ 7:00 PM
                    </td>
                </tr>  
                <tr>
                    <td> 
                        First Scots Presbyterian 
                    </td>
                    <td> 
                        Thursday, Aug 23 @ 5:15 PM
                    </td>
                </tr>     
                <tr>
                    <td> 
                        Grace Episcopal and St. Mark’s 
                    </td>
                    <td> 
                        Thursday, Aug 30 @ 6:00 PM
                    </td>
                </tr>
                <tr>
                    <td> 
                        Church of the Holy Communion 
                    </td>
                    <td> 
                        Tuesday, Sept 4 @ 7:00 PM
                    </td>
                </tr>
            </table>

            <p> Treva’s contact info </p>
            <p> treva@thedartcenter.org </p>
            <p> 620-704-1062 (cell) </p>
            
        </div>
       -->  

    </div>






</body> 

</html>
