<!DOCTYPE html>

<html>
<head>

    <title> FAQs </title> 

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/assets/stylesheets/faqs.css" />
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower' 
        rel='stylesheet' type='text/css'>

    <script src="/assets/javascripts/jquery-1.11.3.min.js">
    </script>
     
    <script src="/assets/javascripts/faqs_table.js">
    </script>    

</head>

<!-- begin page wrapper and body -->
<body> 
    <div class="screen_wide_spacer"> </div>
    
    <div class="banner">
        <span class="banner-title">
            FAQs
        </span>
        <div class="graphic">
            <img src="assets/images/cross_star_crescent.jpg"
            width="100" height="150"/>     
        </div>
        <div class="top-wrap">
            
            <h2>
                Q: What are CAJM's general goals? 
            </h2> 
            <h2>
                A: The general goals of the Charleston Area Justice Ministry (CAJM) include:
            </h2> 

            <ol>
                <li> 
                    To build strong relationships among religious congregations.
                </li>
                <li>
                    To develop a culture of accountability within CAJM and to hold public institutions accountable to address local community issues of concern to member congregations through a process of education, research, action, and reflection.
                </li>
                <li>
                    To strengthen member congregations by training existing leaders in organizing skills, identifying new leaders, and building justice ministry networks.
                </li>
                <li>
                    To enable member congregations to act successfully on shared values of justice and fairness.
                </li>
            </ol>

        </div>

        <div class="top-wrap">

            <h2>
                Q: What are CAJM's goals for growth and expansion? 
            </h2> 
            <h2>
                A: The general goals of CAJM include:
            </h2>   

            <div class="striped-table">

                <div id="years">

                </div> 

                <div id="nehemiah-turnout">

                </div>                 

                <div id="congregations">

                </div>   

                <div id="member-needed">

                </div> 

                <div id="staff">

                </div> 

                <div id="budget">

                </div> 

                <div id="dues">

                </div> 

                <div id="member-drive">

                </div> 

                <div id="corporate">

                </div> 

                <div id="grants">

                </div> 
            </div>

        </div>

        <div class="top-wrap">

            <h2>
                Q: What Congregations are Members of CAJM? 
            </h2> 
            <h2>
                A: Members of the Charleston Area Justice Ministry (CAJM) ...
            </h2>
            <p> 
                are clergy and lay leaders representing local congregations of faith communities in the Charleston Area (Charleston, Berkeley, and Dorchester Counties) who express interest in achieving the goals of CAJM and who make a financial investment.  New congregations will be accepted into CAJM membership by majority vote of the CAJM Members present at a duly called meeting.  The following congregations are members:

                <ul>
                    <li> Bethel Presbyterian* </li>
                    <li> Blessed Sacrament Catholic* </li>
                    <li> Calvary Baptist </li>
                    <li> Calvary Episcopal* </li>
                    <li> Charity Missionary Baptist* </li>
                    <li> Church of the Holy Communion* </li>
                    <li> Circular Congregational* </li>
                    <li> First Scots Presbyterian* </li>
                    <li> Graham AME* </li>
                    <li> Holy Trinity Windermere </li>
                    <li> Hope Assembly* </li>
                    <li> Kahal Kadosh Beth Elohim* </li>
                    <li> Morris Brown AME* </li>
                    <li> Morris St. Baptist </li>
                    <li> New Tabernacle Fourth Baptist* </li>
                    <li> Nichols Chapel AME* </li>
                    <li> North Charleston United Methodist* </li>
                    <li> Second Presbyterian* </li> 
                    <li> St. Francis Episcopal* </li>
                    <li> St. James Presbyterian* </li> 
                    <li> St. John Catholic* </li>
                    <li> St. Matthew Baptist* </li> 
                    <li> Mt. Zion AME* </li>
                    <li> St. Peter’s AME* </li>
                    <li> Unitarian Church in Charleston* </li>
                    <li> Wallingford Presbyterian* </li>
                    <li> YMCA of Charleston* </li>
                </ul>

                * Denotes congregations that have signed the CAJM covenanting statement.
            </p>  

        </div>

        <div class="top-wrap">

            <h2>
                Q: What faith communities currently support CAJM?
            </h2> 
            <h2>
                A: CAJM is currently supported by clergy and laity from more than a dozen faith communities, including: African Methodist Episcopal (AME), Baptist, Congregational, Anglican, Episcopalian, Greek Orthodox, Lutheran, Orthodox Union of Judaism, Presbyterian, Roman Catholic, Union of Reform Judaism, Unitarian, and United Methodist. 
            </h2>

            <h2>
                Q: What Happened at the CAJM Community Problems Assembly on November 16, 2015?
            </h2>

            <h2>
                A: On Monday, November 16, 2015 CAJM congregations packed the house (Blessed Sacrament Catholic Church) for the CAJM Community Problems Assembly. 
            </h2>
             
            <p> 
                With 617 people in attendance, CAJM had 552 voting Network Members, the voting went as follows: Racial Discrimination, with 349 votes (63% of all votes), will be the problem area that we focus on this justice cycle. Public Transportation received 135 votes and Affordable Housing received 68 votes. It was put to the gathered body, and unanimously passed, that we would also continue to work on juvenile incarceration by focusing on school-based arrests. Thank you to everyone who made their voices heard by being a part of the Community Problems Assembly!
            </p>
            <p>
                Another very exciting part of the evening was that we welcomed three new member congregations/organizations! The YWCA of Charleston, St. Francis Episcopal, and Bethel Presbyterian have all joined our ranks and that growth is wonderful to see. Those in attendance also voted to install new CAJM Board Members whose terms begin January 1, 2016.
            </p>


            <h2>
                Q: What Happened at the CAJM Research Kick-Off on December 7, 2015?
            </h2>

            <h2>
                On Monday night 12/7/2015 at St. James Presbyterian over 150 people attended the Research Kick-off! 
            </h2>

            <p>
                They came out ready to engage in great research over these next couple of months! Racial Discrimination was the issue voted as the subject for the Nehemiah Action scheduled for April 18, 2016.
            </p>
            <p> 
                Those people that attended had an opportunity to sign up for the committee on which they wanted to serve. The active committee options were: Racial Discrimination, School Based Arrests, PBIS & Restorative Justice, and the Hiring Policy. 
            </p>
            <p> 
                Research visits have started.
            </p>

        </div>

        <div class="top-wrap">

            <h2>
                Q: What Happened at the CAJM Team Assembly on October 26, 2015?
            </h2>

            <h2>
                A: What an amazing Team Assembly tonight!
            </h2>

            <p>
                There was so much energy and excitement as we heard reports from the house meetings about the very serious community problems raised. After sharing, the voting was narrowed down into several broad categories: Affordable Housing, Gun Violence, Racial Discrimination, Domestic Violence, Substance Abuse and Addiction, Mental Health, Public Transportation, Health Care, Criminal Justice System and Education. One hundred Team Leaders voted on behalf of their house meetings and Network Members and the voting results were as follows:
            </p>

            <table style="width:50%"> 
                <tr>
                  <th> Issue </th> 
                  <th> Votes </th> 
                </tr>                
                <tr>
                  <td> Domestic Violence </td> 
                  <td> 0 </td> 
                </tr>
                <tr>
                  <td> Education </td> 
                  <td> 6 </td> 
                </tr>    
                <tr>
                  <td> Affordable Housing </td> 
                  <td> 19 </td> 
                </tr>  
                <tr>
                  <td> Racial Discrimination </td> 
                  <td> 49 </td> 
                </tr>  
                <tr>
                  <td> Gun Violence </td> 
                  <td> </td> 
                </tr>  
                <tr>
                  <td> Public Transportation </td> 
                  <td> 12 </td> 
                </tr>  
                <tr>
                  <td> Substance Abuse/Addiction </td> 
                  <td> 0 </td> 
                </tr>                  
                <tr>
                  <td> Mental Health </td> 
                  <td> 5 </td> 
                </tr>            
                <tr>
                  <td> Health Care </td> 
                  <td> 2 </td> 
                </tr>  
                <tr>
                  <td> Criminal Justice System </td> 
                  <td> 0 </td> 
                </tr>                                      
            </table>

        </div>

        <div class="top-wrap">
            <h2>
                Q: What if my congregation is not a member of CAJM?
            </h2>
            <h2>
                A: If your congregation is interested in joining CAJM...
            </h2>
            <p>       
                please have the clergy contact Ms. Treva Williams, CAJM Lead Organizer at Treva@thedartcenter.org or mobile 620-704-1062.  If your congregation is not a member, and you are personally interested in getting involved, please come to our next meeting!  We welcome all who want to work for justice.
            </p>
        </div>

        <div class="top-wrap">
            <h2>
                Q: What is the CAJM Celebration?
            </h2>
            <h2>
                A: Everyone is invited to celebrate the successes and progress of CAJM so far and invited to invest at least $200 or more to kick-off the Investment Drive to keep CAJM self-sustaining moving forward. 
            </h2>
        </div>

        <div class="top-wrap">
            <h2>
                What is the CAJM Community Problems Assembly?
            </h2>
            <h2>
                Team leaders, clergy, and network members come together to share testimonies then vote for one of the top 3 issues identified at the Team Assembly II to be worked on this cycle; new congregations are officially covenanted, and nominees for the Executive Board are processed.
            </h2>
        </div>

        <div class="top-wrap">
            <h2>
                What is the CAJM Nehemiah Action?
            </h2>
            <h2>
                Everyone is invited to come and bring at least three other people with them to powerfully gain commitments from the public official(s) invited to implement CAJM's well researched plan of action to solve serious community issues.
            </h2>
        </div>

    </div>


    <div class="event-wrap">

        <div class="banner">
            <span class="banner-title"> 
               FAQs
            </span>
        </div>

        <div class="item-wrap"> 
            <div class="item-title"> 
                Research Kick-Off
            </div>    
            <div class="item-descr"> 
                Time: Mon Dec 7th 7:00pm
                Location: St. James Presbyterian Church 
                1314 Secessionville Road 
                Charleston, SC 29412 
            </div>
            <a href="http://www.charlestonareajusticeministry.org/index.php/faq/176-what-is-the-cajm-research-to-action-kick-off"> Research-to-action kickoff </a>  
        </div>

        <div class="item-wrap"> 
            <div class="item-title"> 
                Rally
            </div> 
            <div class="item-descr"> 
                Time: Mon Mar 14th 7:00pm
                Location: TBD 
            <a href="http://www.charlestonareajusticeministry.org/index.php/faq/178-what-is-the-cajm-rally"> CAJM Rally</a>
            </div>
        </div>

        <div class="item-wrap"> 
            <div class="item-title">
                Nehemiah Action Assembly
            </div>
            <div class="item-descr"> 
                Bring at least three people with you!
                Location: TBD 
                Time: Mon 4/18/2016 7pm
            </div>
            <a href="http://www.charlestonareajusticeministry.org/index.php/faq/179-what-is-the-cajm-nehemiah-action"> Nehemiah Action Assembly 
            </a>
        </div>

        <div class="item-wrap"> 
            <div class="item-title">
                Celebration and Investment Drive Kick-Off
            </div>
            <div class="item-descr"> 
                Location: TBD 
                Time: Mon 5/23/2016 7pm
            </div>
            <a href="http://www.charlestonareajusticeministry.org/index.php/faq/180-what-is-the-cajm-celebration">
            CAJM Celebration </a>
        </div>

        <div style="clear: both">
        </div>

    </div>



    <div class="issue-wrap">

        <div class="banner">
            <span class="banner-title"> 
               Issues
            </span>
        </div>

        <div class="item-wrap"> 
            <div class="item-title"> 
                Wage Theft
            </div>
            <div class="item">
                <ul>
                    <li>        
                        <a href="http://www.postandcourier.com/article/20150424/PC1204/150429573"> 
                            <span> Fighting Wage Theft </span>
                        </a>                                        
                    </li>       
                </ul> 
            </div>   
        </div>    
        <div class="item-wrap"> 
            <div class="item-title"> 
                Homelessness
            </div>
            <div class="item">
                <ul>
                    <li>        
                        <a href="http://icarejax.org/homelessness/"> 
                            <span> Homelessness </span>
                        </a>                                        
                    </li>       
                </ul> 
            </div>   
        </div>      
        <div class="item-wrap">
            <div class="item-title"> 
                Children's Concerns
            </div> 
            <div class="item">
                <ul>
                    <li>  
                        <a href="http://www.justicemattersinkansas.org/justice_matters_child_welfare"> 
                            <span> Child Welfare </span>
                        </a> 
                    </li>
                </ul>
            </div>
        </div>


        <div style="clear: both">
        </div>

    </div>


    <div class="other-wrap">

        <div class="banner">
            <span class="banner-title"> 
               History and Current Media
            </span>
        </div>

        <div class="item-wrap"> 
            <div class="item-title"> 
                CAJM in the News
            </div>
            <div class="item">
                <ul>
                    <li>        
                        <a href="http://www.postandcourier.com/article/20150424/PC1204/150429573"> 
                            <span> Fighting Wage Theft </span>
                        </a>                                        
                    </li>
                    <li>
                        <a href="http://www.postandcourier.com/article/20131115/PC12/131119588"> 
                            <span> Diverse in Faith, United in Purpose </span>
                        </a>
                    </li>
                    <li> 
                        <a href="http://www.charlestoncitypaper.com/charleston/at-nehemiah-action-pastors-demand-policy-change-with-confrontational-techniques/Content?oid=4912669"> 
                            <span> CAJM Speaks Truth to Power </span>
                        </a>
                    </li>                           
                </ul> 
            </div>   
        </div>     

        <div class="item-wrap"> 
            <div class="item-title"> 
                Videos
            </div>
            <div class="item">
                <ul>
                    <li>        
                        <a href="http://www.postandcourier.com/article/20150424/PC1204/150429573"> 
                            <span> Fighting Wage Theft </span>
                        </a>                                        
                    </li>                         
                </ul> 
            </div>   
        </div>  

        <div class="item-wrap-wide"> 
            <div class="item-title"> 
                CAJM History
            </div>
            <div class="item-descr">
                CAJM began in 2011 when a group of clergy gathered together to form a Sponsoring Committee with the Director of DART to begin the process of establishing a justice organization in the Charleston area. In October of 2012, member congregations came together and voted to address the following issues: Schools/Education and Crime/Violence. CAJM's research committees worked tirelessly to identify the specific issues for CAJM to address. 
            </div>   
        </div> 

        <div class="item-wrap"> 
            <div class="item-title"> 
                Social Media
            </div>
            <div class="social-media-item">
                <ul>
                    <li>        
                        <a class="facebook" href="https://www.facebook.com/charlestonareajusticeministry/"> 
                            f 
                        </a>  
                    </li>
                    <li>
                        <a class="twitter" href="https://twitter.com/justice_chs"> 
                            t 
                        </a>                                       
                    </li>      
                    <li>
                        <a class="twitter" href="https://twitter.com/cajmrevolution"> 
                            t 
                        </a>                                       
                    </li>                      
                </ul> 
            </div>   
        </div> 

    </div>


</body> 

</html>
