<!DOCTYPE html>

<html>
<head>

    <title> CAJM FAQs </title> 

    <script type="text/javascript" >
        document.title = "House Meetings";
    </script>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/assets/stylesheets/global.css" />
    
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower' 
        rel='stylesheet' type='text/css'>
       
</head>

<!-- begin page wrapper and body -->
<body> 


    <div class="screen_wide_spacer"> </div>
    
    <div class="thumbnail-wrap" id="thumbnail-wrap-faqs">

        <div class="banner">
            <span class="banner-title"> 
               House Meeting
            </span>
        </div>

    </div>

    <div class="banner" id="banner-faqs">
        <span class="banner-title">
            House Meeting
        </span>
        

        <div class="top-wrap">
            <a class="anchor" id="cajm-goals-growth"></a>
            <h2>
                Agenda
            </h2> 
            <h2>
                A: The general goals of CAJM include:
            </h2>   

            <table style="width:50%">                
                <tr>
                    <td> 5-10 min. </td> 
                    <td> Gather, Sign in and Fellowship </td> 
                </tr>
                <tr>
                    <td> 5 min. </td> 
                    <td> Opening Prayer and Introductions </td> 
                </tr>
                <tr>
                    <td> 5 min. </td> 
                    <td> Reflection and Vision for Doing Justice </td> 
                </tr>
                <tr>
                    <td> 5 min. </td> 
                    <td> Overview of our Justice Ministry </td> 
                </tr>
                <tr>
                    <td> 20 min. </td>
                    <td> Discussion Question #1: When you wake up at 3 AM, what are you worried about? </td>                  
                </tr>
                <tr>
                    <td> 15 min. </td>
                    <td> Discussion Question #2: What community wide problem are you worried about? </td>                   
                </tr>   
                <tr>
                    <td> 5 min. </td>
                    <td> Introduction to our Congregation’s Justice Ministry Network </td>                   
                </tr>   
                <tr>
                    <td> 5 min. </td>
                    <td> Invitation to be a part of our Congregation’s Justice Ministry Network </td>                   
                </tr> 
                <tr>
                    <td> 5 min. </td>
                    <td> Community Problems Assembly </td>                  
                </tr>   
                <tr>
                    <td> 3 min. </td>
                    <td> Evaluation </td>                  
                </tr> 
                <tr>
                    <td> 2 min. </td>
                    <td> Closing Prayer and Adjourn </td>                  
                </tr>                                                             
            </table>

            <div class="top-wrap">
                <a class="anchor" id="gather"></a>
                <h2>
                    Gather, Sign-in and Fellowship
                </h2> 
                <p>
                    If you tell people that your meeting is going to start at 7:00, tell people to arrive at 6:50, which will give them time to get a seat and sign in so that you can start right on-time.   Have your sign in sheet out and pass it around as people are arriving.
                </p> 
            </div>

            <div class="top-wrap">
                <a class="anchor" id="gather"></a>
                <h2>
                    Opening Prayer and Introductions
                </h2> 
                <ol>
                    <li> 
                        Begin with a short word of prayer – you can either offer it yourself or ask someone in the group to offer the prayer.
                    </li>
                    <li>
                        Introduce yourself and thank everyone for coming.  Next have everyone briefly introduce themselves – their name only.
                    </li>
                    <li>  
                        You will need a timekeeper and a recorder. It is best to ask 2 people in advance to fill these roles. There are directions for them included in your training material.  Introduce them at this time and let people know what their role is.
                    </li>
                    <li>
                        Explain: the purpose of the house meeting is to:
                        <ol>
                            <li>
                                Build and deepen relationships among members of our congregation,
                            </li>
                            <li>
                                Identify community problems for research and action; and
                            </li>
                            <li>
                                Expand our congregation’s Justice Ministry Network so that more of us are doing justice.
                            </li>
                        </ol>
                    </li>
                </ol> 

                <h2>
                    Reflection and Vision for Doing Justice
                </h2>
                <h3>
                    Micah 6:8: “He has told you, O mortal, what is good; and what does the Lord require of you but to do justice, and to love mercy, and to walk humbly with your God?”
                </h3>
                <p>
                    I would like to begin with a short Reflection.  The scripture comes from Micah 6:6-8 and it reads:

                    “With what shall I come before the Lord, and bow myself before God on high?  Shall I come before Him with burnt offerings, with calves a year old?   7Will the Lord be pleased with thousands of rams, with ten thousands of rivers of oil?  Shall I give my firstborn for my transgression, the fruit of my body for the sin of my soul?”  8He has told you, O mortal, what is good; and what does the Lord require of you but to do justice, and to love mercy, and to walk humbly with your God?”

                    I’d like to spend a minute looking at how our congregation does with these three requirements.

                    Another way to think about walking humbly with God is to be faithful.  52 times a year our congregation gathers for worship services.  While attending worship is not in and of itself an act of faithfulness, one of the main functions of the service is to remind us to be faithful to the word of God.

                    When I think about mercy I think about all the things that we do in our congregation to help the victims of injustice.  Things like tutoring programs, food pantries, clothing drives, and opening our doors for the homeless.  It’s true we could always do more but I think we are doing a pretty good job here as well.

                    When I think about justice I don’t think about work done to help the victims of injustice, I think about things that are done to hold the political and economic systems accountable for ending the injustice in our community.  It’s not just about treating the symptoms, but affecting our community’s illnesses at the source.  And unfortunately, we don’t do a lot of that.   

                    Why not?  Well to do justice requires that we have enough power to hold our systems accountable.  The fact is that I can be faithful to the word of God and do acts of mercy on my own – but I cannot hold systems accountable by myself – even our congregation together does not have enough power.  In Nehemiah Chapter 5, Nehemiah calls a great assembly to address the unfair practices of economic exploitation by some of the nobles and officials.  Nehemiah was a powerful man in his own right, but he didn't have enough power himself to confront the unjust economic system.  He could have set up some mercy ministries food pantries or try to pay off the debts of some of the citizens, but decides instead to do justice by getting the money lenders to act fairly demanding that the land, children and interest be returned. And the nobles and officials agreed.  Through the great assembly that Nehemiah organizes, we learn that there is power in numbers.

                    Micah is clear that doing justice is a requirement for all of us.  So we need to make justice central to the life of our congregation if we are going to fulfill God’s requirement to do justice.  We need to build our power by joining up with congregations across the county, and together, we exercise our power by turning out thousands of people to a big Nehemiah Action to win needed changes.             

                    The vision for this is to get to the point where we can turnout our average worship attendance once a year to a Nehemiah Action, to do justice.  We come to worship services 52 times a year, so we certainly can get to the point of turning out that same number of people once a year for justice.  In order to turn out our average worship attendance once a year for justice, we will do as Nehemiah did and organize our whole congregation, by households, into a Justice Network.  We are going to ask one person from each household or family to become part of our congregation's Justice Network by doing these things: 

                    Bring 3 people with them to the Nehemiah Assembly on April 27, and
                    Come to at least 3other organization-wide Assemblies: The Community Problems Assembly on October 27th,  the Rally March 23rd  and the Celebration May 18th .
                    Attend one congregational Justice Ministry network meeting in the winter. 
                     
                    As we build and exercise our Network, we will be building the power of our congregation to fulfill the call of Micah to “do Justice.” By making Justice central to the life of our congregation we will work to make Charleston more and more like the city that God intends for it to be.
                </p>

            </div>

        </div>  

    </div>






</body> 

</html>
