<!DOCTYPE html>

<html>
<head>

    <title> CAJM FAQs </title> 

    <script type="text/javascript" >
        document.title = "House Meetings";
    </script>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/assets/stylesheets/global.css" />
    
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower' 
        rel='stylesheet' type='text/css'>
       
</head>

<!-- begin page wrapper and body -->
<body> 


    <div class="screen_wide_spacer"> </div>
    
    <div class="thumbnail-wrap" id="thumbnail-wrap-faqs">

        <div class="banner">
            <span class="banner-title"> 
               House Meeting
            </span>
        </div>

    </div>

    <div class="banner" id="banner-faqs">
        <span class="banner-title">
            House Meeting
        </span>
        

        <div class="top-wrap">
            <a class="anchor" id="cajm-goals-growth"></a>
            <h2>
                Agenda
            </h2> 
            <h2>
                A: The general goals of CAJM include:
            </h2>   

            <table style="width:50%">                
                <tr>
                    <td> 5-10 min. </td> 
                    <td> Gather, Sign in and Fellowship </td> 
                    <div href="#gather" class="thumbnail-descr"> 
                        A: The expansion goals of CAJM include:
                    </div>
                </tr>
                <tr>
                    <td> 5 min. </td> 
                    <td> Opening Prayer and Introductions </td> 
                </tr>
                <tr>
                    <td> 5 min. </td> 
                    <td> Reflection and Vision for Doing Justice </td> 
                </tr>
                <tr>
                    <td> 5 min. </td> 
                    <td> Overview of our Justice Ministry </td> 
                </tr>
                <tr>
                    <td> 20 min. </td>
                    <td> Discussion Question #1: When you wake up at 3 AM, what are you worried about? </td>                  
                </tr>
                <tr>
                    <td> 15 min. </td>
                    <td> Discussion Question #2: What community wide problem are you worried about? </td>                   
                </tr>   
                <tr>
                    <td> 5 min. </td>
                    <td> Introduction to our Congregation’s Justice Ministry Network </td>                   
                </tr>   
                <tr>
                    <td> 5 min. </td>
                    <td> Invitation to be a part of our Congregation’s Justice Ministry Network </td>                   
                </tr> 
                <tr>
                    <td> 5 min. </td>
                    <td> Community Problems Assembly </td>                  
                </tr>   
                <tr>
                    <td> 3 min. </td>
                    <td> Evaluation </td>                  
                </tr> 
                <tr>
                    <td> 2 min. </td>
                    <td> Closing Prayer and Adjourn </td>                  
                </tr>                                                             
            </table>

            <div class="top-wrap">
                <a class="anchor" id="gather"></a>
                <h2>
                    Gather, Sign-in and Fellowship
                </h2> 
                <p>
                    If you tell people that your meeting is going to start at 7:00, tell people to arrive at 6:50, which will give them time to get a seat and sign in so that you can start right on-time.   Have your sign in sheet out and pass it around as people are arriving.
                </p> 
            </div>

            <div class="top-wrap">
                <a class="anchor" id="gather"></a>
                <h2>
                    Opening Prayer and Introductions
                </h2> 
                <ol>
                    <li> 
                        Begin with a short word of prayer – you can either offer it yourself or ask someone in the group to offer the prayer.
                    </li>
                    <li>
                        Introduce yourself and thank everyone for coming.  Next have everyone briefly introduce themselves – their name only.
                    </li>
                    <li>  
                        You will need a timekeeper and a recorder. It is best to ask 2 people in advance to fill these roles. There are directions for them included in your training material.  Introduce them at this time and let people know what their role is.
                    </li>
                    <li>
                        Explain: the purpose of the house meeting is to:
                        <ol>
                            <li>
                                Build and deepen relationships among members of our congregation,
                            </li>
                            <li>
                                Identify community problems for research and action; and
                            </li>
                            <li>
                                Expand our congregation’s Justice Ministry Network so that more of us are doing justice.
                            </li>
                        </ol>
                    </li>
                </ol> 
            </div>

            <div class="top-wrap">
                <a class="anchor" id="reflection"></a>

                <h2>
                    Reflection and Vision for Doing Justice
                </h2>
                <h3>
                    Micah 6:8: “He has told you, O mortal, what is good; and what does the Lord require of you but to do justice, and to love mercy, and to walk humbly with your God?”
                </h3>
                <p>
                    I would like to begin with a short Reflection.  The scripture comes from Micah 6:6-8 and it reads:
                </p>
                <p>

                    “With what shall I come before the Lord, and bow myself before God on high?  Shall I come before Him with burnt offerings, with calves a year old?   7Will the Lord be pleased with thousands of rams, with ten thousands of rivers of oil?  Shall I give my firstborn for my transgression, the fruit of my body for the sin of my soul?”  8He has told you, O mortal, what is good; and what does the Lord require of you but to do justice, and to love mercy, and to walk humbly with your God?”
                </p>
                <p>
                    I’d like to spend a minute looking at how our congregation does with these three requirements.
                </p>
                <p>
                    Another way to think about walking humbly with God is to be faithful.  52 times a year our congregation gathers for worship services.  While attending worship is not in and of itself an act of faithfulness, one of the main functions of the service is to remind us to be faithful to the word of God.
                </p>
                <p>
                    When I think about mercy I think about all the things that we do in our congregation to help the victims of injustice.  Things like tutoring programs, food pantries, clothing drives, and opening our doors for the homeless.  It’s true we could always do more but I think we are doing a pretty good job here as well.
                </p>
                <p>
                    When I think about justice I don’t think about work done to help the victims of injustice, I think about things that are done to hold the political and economic systems accountable for ending the injustice in our community.  It’s not just about treating the symptoms, but affecting our community’s illnesses at the source.  And unfortunately, we don’t do a lot of that.   
                </p>
                <p>
                    Why not?  Well to do justice requires that we have enough power to hold our systems accountable.  The fact is that I can be faithful to the word of God and do acts of mercy on my own – but I cannot hold systems accountable by myself – even our congregation together does not have enough power.  In Nehemiah Chapter 5, Nehemiah calls a great assembly to address the unfair practices of economic exploitation by some of the nobles and officials.  Nehemiah was a powerful man in his own right, but he didn't have enough power himself to confront the unjust economic system.  He could have set up some mercy ministries food pantries or try to pay off the debts of some of the citizens, but decides instead to do justice by getting the money lenders to act fairly demanding that the land, children and interest be returned. And the nobles and officials agreed.  Through the great assembly that Nehemiah organizes, we learn that there is power in numbers.
                </p>
                <p>
                    Micah is clear that doing justice is a requirement for all of us.  So we need to make justice central to the life of our congregation if we are going to fulfill God’s requirement to do justice.  We need to build our power by joining up with congregations across the county, and together, we exercise our power by turning out thousands of people to a big Nehemiah Action to win needed changes.             
                </p>
                <p>
                    The vision for this is to get to the point where we can turnout our average worship attendance once a year to a Nehemiah Action, to do justice.  We come to worship services 52 times a year, so we certainly can get to the point of turning out that same number of people once a year for justice.  In order to turn out our average worship attendance once a year for justice, we will do as Nehemiah did and organize our whole congregation, by households, into a Justice Network.  We are going to ask one person from each household or family to become part of our congregation's Justice Network by doing these things: 
                </p>
                <p>
                    Bring 3 people with them to the Nehemiah Assembly on April 27, and
                    Come to at least 3other organization-wide Assemblies: The Community Problems Assembly on October 27th,  the Rally March 23rd  and the Celebration May 18th .
                    Attend one congregational Justice Ministry network meeting in the winter. 
                     
                    As we build and exercise our Network, we will be building the power of our congregation to fulfill the call of Micah to “do Justice.” By making Justice central to the life of our congregation we will work to make Charleston more and more like the city that God intends for it to be.
                </p>
            </div>

            <div class="top-wrap">
                <a class="anchor" id="overview"></a>

                <h2>
                    Overview of our Justice Ministry
                </h2>
                <p>
                    Our congregation is one of currently 27 congregations in Charleston County that powerfully come together under the banner of The Charleston Area Justice Ministry to address serious problems in our community. CAJM includes congregations from different cultures, religions, and all parts of the county.
                </p>
                <p>
                    CAJM is the vehicle we use to do justice.  Through our justice ministry network we have the opportunity to be involved in responding to God’s call to “do justice.” The strength in numbers and diversity through this coalition is the source of our ability and power to create local systemic change.
                </p>
                <p>
                    Our congregation, like many others, is building this justice ministry network to address the root causes of why people get into a place where they need help.  Justice focuses on ensuring fairness in the larger “systems” that affect our lives such as affordable housing, access to healthcare, transportation, safe neighborhoods, etc.
                </p>
                <p>
                    Congregations across the greater Charleston community are holding house meetings like this one to help prioritize a community problem for research and action.  We use this organizing process that has been successful in other cities and right here in Charleston to win issues related to the problems that we will be discussing tonight.  At our first Nehemiah Action we gained commitments from Superintendent Dr. McGinley to open up 280 more preschool slots and to implement a research based reading curriculum in all the preschool classes.  Because of CAJM, 280 more preschoolers are a part of a quality preK program and all 1800 students in the program are now prepared to read with a strong literacy curriculum.  
                <p>
                </p>    
                    We also gained commitments from Sheriff Cannon, Solicitor Wilson, Chief Mullen, Chief Driggers and Chief Ritchie to reduce juvenile detention through the use of a Risk Assessment Tool.  In January of this year, a Risk Assessment tool was implemented county-wide.  This objective screening tool is used by officers to help them decide to release a juvenile to his/her parent or detain that juvenile in the detention center.  This is the first time that all four of these departments have worked together in this way and they did it because our power of 1500 people at our Nehemiah Action.  This past April we had our second annual Nehemiah Action where with our power of 1700 people, we gained a commitment from Dr. McGinley to lower suspension rates in our schools by implementing positive behavioral interventions and supports and restorative justice.  Those 10 schools have been identified and if you are interested, I can send that list around.  
                <p>
                </p>    
                    We also gained the commitment from Mayor Riley to write a hiring policy to increase job opportunities for unemployed young adults on publicly funded construction projects.  In October, about 600 people like us will meet to vote on one new community problem. This year CAJM leadership have chosen NOT to work on education.  So keep that in mind when we get ready to discuss community problems.  Once we choose a problem on October 27th, leaders from our congregations will then be trained to research that problem and find a winnable solution.  Next spring, we will join together at the Nehemiah Action Assembly on April 27th with 3,000 people from our congregations to secure commitments from decision-makers to implement these solutions.
                </p>
            </div>

            <div class="top-wrap">
                <a class="anchor" id="discussion1"></a>

                <h2>
                    What makes you angry? Take 1 minute to think/write down; each person has 1 and a half minutes to share.
                </h2>
                <p>
                    Now that we have some understanding of the type of problems we can address when we come together let’s spend some time reflecting on the problems that impact us and our community.  The starting point for our reflection is what is going on in your life.  Our justice work has to be grounded in the realities faced by our own members.  So our first question is “what makes you angry?” You might be angry that you cannot afford health insurance.  You might be angry about your credit card payments or making your mortgage.  You might be angry about how much it is going to look after your elderly parents.  You might be angry that you’ve lost your job. You might be angry about drugs in your neighborhood.
                </p>
                <p>
                    Ground rules: (verbally share these)
                </p>
                <ol>
                    <li>
                        Listen with respect to all of the participants in the meeting.
                    </li>
                    <li>
                        Our purpose is to get community problems on the table.  We are not looking for solutions.  That will come later in the research phase of the CAJM process.
                    </li>
                    <li>
                        As facilitator, I am going to give everyone a minute to respond to the discussion question.  When your minute is up I will call time (or timekeeper) and move onto the next person.  There will be about five minutes for general discussion after everyone has responded.  If I don't keep us on time then we might be here all night.
                    </li>
                    <li>
                        Finally, we want to make sure that what we share in this discussion is treated with respect.  We will be reporting out the problems/worries that people are facing.  We all have to agree not to gossip about what we discuss at this meeting.
                    </li>
                </ol>
                <p>
                    Can everyone agree to these ground rules? Okay, think about the question for one minute... I will go ahead and share first.  What makes me angry is...
                </p>
                <p>
                    [NOTE for Facilitator: You should think of your story in advance.  It should be something specific.  The kind of story you tell will set the tone for the rest of the stories.]
                </p>
            </div>

            <div class="top-wrap">
                <a class="anchor" id="discussion2"></a>

                <h2>
                    What community wide problem are you worried about?
                </h2>
                <p>
                    In our first discussion question, we focused on some personal things that are affecting us.  There are community wide problems that we see around us every day.  I’d like for you now to answer the question, what community-wide problem are you worried about?  Okay think about the question for one minute….I will go ahead and share first.  The community problem  that I am most worried about is...
                </p>
                <p>
                    [Note for Facilitator: Each person thinks about the question for one minute.  Facilitator goes first and models not only the problem you want everyone to tackle, but why.  Facilitator calls on each person to give a one minute answer.  After everyone has reflected on the question there will be 5 minutes for group discussion with the facilitator moderating discussion(see below)]
                </p>
            </div>

            <div class="top-wrap">
                <a class="anchor" id="introduction"></a>
                <h2>
                    Overview of Justice Ministry Network and the role of a Network Member?
                </h2>
                <p>
                    Now I want to talk about what our congregation and justice ministry will be focused on next.
                </p>
                <h3>
                    Introduce the Justice Ministry Network:
                </h3>
                <p>
                    As we discussed earlier, Scripture (or our faith tradition) calls us to do justice. It takes the power of large organized numbers of people to tackle serious community problems such as those we have talked about tonight. Our ability to achieve systemic change is directly related to the number of people we can gather together. To enhance the ability of our congregation to do justice, we join with other congregations under the banner of CAJM.  Imagine what we will accomplish when we turnout 3,000 people!  I would like to invite each of you to become involved in our congregation’s Justice Ministry Network by doing  these things:
                </p>
            </div>
            <ol>
                <li>
                    Bring three people with you to CAJM’s  Nehemiah Action Assembly April 27.
                </li>
                <li>
                    Attend at least 3other organization-wide meetings to get ready for that effort: October 27th Community
                </li>
                <li>
                    Attend one meeting at my congregation in the winter.
                </li>
            </ol>
            <p>
                Of course if you would like to be involved beyond our Justice  Network  I would be glad to talk further with you regarding other opportunities.
            </p>
            <p>
                At our Celebration on May 18th all of us who are a part of our congregation’s Justice  Network will be asked to invest $200 or more to the work of CAJM.  This is not required criteria to be a part of our Justice Network.  Let me say that again!  This is not a requirement to be a part of our congregations Justice Network!  However, we want to become an organization that is fully owned by its members.  If you join in this work for justice and decide you would be interested in investing, please let me know and I can tell you where you can mail your investment.
            </p>

        </div>  

        <div class="top-wrap">
            <a class="anchor" id="invitation"></a>

            <h2>
                Invitation to be a part of our congregation’s Justice Network
            </h2>
            <p>
                Again, tonight I am asking each of you to be a part of our congregations Justice  Network to come to our Community Problems Assembly, Rally Assembly, Celebration, our winter congregational meeting and bring 3 others to the Nehemiah Assembly.  I have already told (Clergy/Pastor Name) that I would be a Network Member for our congregation  and I am committing to attend all 4 assemblies and bring 3 people to the Nehemiah Assembly.
            </p>

            <p>
                I would like to ask each of you if you would be willing to do the same.
            </p>
            <p>
                [NOTE for Facilitator:  At this point go around the room and ask each person individually if they will be a network member for your congregation.  Example:  “Bob, would you be willing to be a network member and come to 4 meetings a year and bring 3 people to the Nehemiah Assembly?  Great thank you. Sally would you be willing to…?  Great.  Joan would you be willing to…?  Etc. etc.]
            </p>
        </div>

        <div class="top-wrap">
            <a class="anchor" id="community"></a>

            <h2>
                Invitation to be a part of our congregation’s Justice Network
            </h2>
            <p>
                Again, tonight I am asking each of you to be a part of our congregations Justice  Network to come to our Community Problems Assembly, Rally Assembly, Celebration, our winter congregational meeting and bring 3 others to the Nehemiah Assembly.  I have already told (Clergy/Pastor Name) that I would be a Network Member for our congregation  and I am committing to attend all 4 assemblies and bring 3 people to the Nehemiah Assembly.
            </p>
        </div>       

        <div class="top-wrap">
            <a class="anchor" id="evaluation"></a>
            <h2>
                Evaluation
            </h2>
            <h3>
                Each person give 1 word evaluation of the meeting
            </h3>
            <p>
                I want to thank everyone who came tonight.  I am really excited to be a part of this work and I am glad that you have been and are going to be a part of it too.
                I’d like to give everyone a chance to quickly evaluate the meeting.  If we could just go around the circle and, if you would, just say one word about what you thought about the meeting.  I’ll start, my one word is _________.
            </p>
        </div> 

        <div class="top-wrap">
            <a class="anchor" id="closing"></a>
            <p>
                If anyone wants to stay and talk some more feel free to.  Thanks again for coming.  Now let’s have a word of prayer to close our meeting.
            </p>
        </div> 

    </div>

    <div class="banner" id="banner-faqs">
        <span class="banner-title">
            House Meeting Checklist
        </span>

        <div class="top-wrap">
            <a class="anchor" id="house-meeting-prep"></a>
            <h2>
                Preparation for House Meetings
            </h2> 
            <ol>
                <li>
                    Know who is coming to the house meeting.  Make reminder phone calls.
                </li>
                <li>
                    Plan your set-up ahead of time.  Provide enough (but not too many) chairs. Decide whether you will have coffee and cookies ( get them ahead of time if you are).
                </li>
                    Know where you are going to have the meeting and give clear directions to the attendees.
                <li>
                    Recruit a recorder.  Go over the agenda several days before the meeting.  Make sure that you have adapted the agenda for your own meeting.  Familiarize yourself with the discussion questions and the format for the discussion.
                </li>
                <li>
                    Review the reflection that you will give ahead of time and familiarize yourself with it.
                </li>                
            </ol> 

            <h2>
                Running the House Meeting
            </h2>
            <ol>
                <li>
                    Welcome everyone at the door and direct him or her to the room for the meeting.
                </li>
                <li>
                    Begin on time!
                </li>
                <li>
                    Give clear directions for the introduction and discussion.
                </li>
                <li>
                    Make sure that you call on everyone during the discussion.  Don’t let any one person dominate the discussion.
                </li>
                <li>
                    Don’t let anyone put down or criticize other people or their ideas.  Review the ground rules.
                </li>     
                <li>
                    Proposition each person individually.
                </li>     
                <li>
                    Be sure people fill out the questionnaire and collect it.
                </li>  
                <li>
                    Follow the agenda.
                </li>    
                <li>
                    Thank people for their time and their comments during the meeting.
                </li>
            </ol>

            <h2>
                Following up on the House Meeting
            </h2>     
            <ol>
                <li>
                    Write or call people to thank them for their time within the first couple of days.  Seek out and engage those people who attend your house meeting when you see them at your worship service, the grocery store or wherever (you are aiming to build a relationship)
                </li>
                <li>
                    Meet with the recorder from your house meeting to summarize the results of your meeting and complete an evaluation.
                </li>
                <li>
                    Attend the Team Assembly meeting on October 8, 7:00 pm at Wallingford Presbyterian.
                </li>
                <li>
                    Call people in 3-4 weeks to report on what is happening.
                </li>
            </ol>       

        </div>

        <div class="banner" id="banner-faqs">
            <span class="banner-title">
                House Meeting Individual Record
            </span>

            <div class="top-wrap">
                <a class="anchor" id="house-meeting-individual"></a>
                <h2>
                    HOUSE MEETING: INDIVIDUAL RECORD (Please turn in sheet at end of meeting)
                </h2> 
                <h3>
                    Name ______________________________________________    Congregation____________________
                </h3>
                <p> EDUCATION: __ Suspensions __ Reading/Achievement __ Graduation Rates        __ ­­Other 
                </p>
                <p> _____________________________________________________________________ </p>
                <p> _____________________________________________________________________ </p>
                <p> _____________________________________________________________________ </p>
                <p> HEALTH CARE: __ Prescription Costs __ No insurance __ Other </p>
                <p> _____________________________________________________________________ </p>
                <p> _____________________________________________________________________ </p>
                <p> _____________________________________________________________________ </p>
                <p> DRUGS/CRIME: __ Drug Treatment __ Drug houses/sales __ Neighborhood Crime __ Other
                </p>   
                <p> HOUSING:       __ Cost of rental        __ Cost of home ownership       __ Foreclosures       __ Other
                </p> 
                <p> JOBS:       __ Underemployed        __ Unemployed              __ Employer withheld wages            __ Other
                </p>  
                <p> _____________________________________________________________________ </p>
                <p> _____________________________________________________________________ </p>
                <p> _____________________________________________________________________ </p>
                <h3>
                    OTHER AREAS? (feel free to use other side): 
                </h3>
                <p>
                    ___ YES, I will be a JMN Member
                </p>
            </div>
        </div>

        <div class="banner" id="banner-faqs">
            <span class="banner-title">
                House Meeting Report Form
            </span>

            <div class="top-wrap">
                <a class="anchor" id="house-meeting-report"></a>
                <p>
                    Name of Host (s):______________________________________________________________
                </p>
                <p>
                    Congregation:_____________________________                     Meeting Date: _____________  
                </p>
                <ol>
                    <li> 
                        How many were in attendance? _______
                    </li>
                    <li> 
                        Did you meet your goal for turn-out?  If not why not?
                    </li>
                    <li> 
                        Which community problem generated the most energy in discussion?
                    </li>
                    <li> 
                        Please list the names of people that agreed to be Justice Ministry Network members.
                    </li>
                    <li> 
                        How many agreed to attend Community Problems Assembly (CPA) on October 28th ?_________
                    </li>
                    <li> 
                        What kind of follow-up will you do to ensure that Justice Ministry network members attend the October 28th Community Problems Assembly?
                    </li>
                    <li> 
                        How did you feel about the meeting overall?
                    </li>
                </ol>
            </div>
        </div>

    </div>

</body> 

</html>
