<!DOCTYPE html>

<html>
<head>

    <title> Charleston Area Justice Ministry </title> 

    <!-- Stylesheet -->
    <link rel="stylesheet" href="styles.css" />
</head>

<!-- begin page wrapper and body -->
<body> 
    <div class="screen_wide_spacer"> </div>
    
    <div class="banner">
        <span class="banner-title">
            Charleston Area Justice Ministry
        </span>
        <div class="graphic">
            <img src="assets/images/cross_star_crescent.jpg"
            width="100" height="150"/>     
        </div>
        <div class="top-wrap">
            <div class ="description">
                    The Charleston Area Justice Ministry, CAJM, is a growing network of Faith Based Congregations who are culturally, economically, geographically and religiously diverse – coming together to make the Charleston area a more just place to live. Member congregations (currently 20) work together to empower marginalized people in our communities. We accomplish this by doing research, educating the public, and publically addressing the root causes of, and solutions to, poverty and injustice in our communities. CAJM is unique in its approach in that it transforms the systems that cause suffering by holding local officials accountable for resolving these inequities and injustices.                
            </div>
            <div class ="links">    
                <a href="#" class="button"> Donate: Will you invest in CAJM? </a>
            </div>
        </div>
        
        <div style="clear: both">
        </div>

    </div>


    <div class="issue-wrap"> 
        <div class="item-title"> 
            See Treva's August CAJM Update
        </div>
        <div class="item"> 2015-2016 CAJM Meetings at a glance 
            <li> 
                CAJM Member Congregations 
            </li>
            <li> CAJM Corporate Partners </li>
        </div>

    </div>

    <div class="event-wrap">

        <div class="banner">
            <span class="banner-title"> 
               Events
            </span>
        </div>

        <div class="item-wrap"> 
            <div class="item-title"> 
                Research Kick-Off
            </div>    
            <div class="item-descr"> 
                Time: Mon Dec 7th 7:00pm
                Location: St. James Presbyterian Church 
                1314 Secessionville Road 
                Charleston, SC 29412 
            </div>
            <a href="http://www.charlestonareajusticeministry.org/index.php/faq/176-what-is-the-cajm-research-to-action-kick-off"> Research-to-action kickoff </a>  
        </div>

        <div class="item-wrap"> 
            <div class="item-title"> 
                Rally
            </div> 
            <div class="item-descr"> 
                Time: Mon Mar 14th 7:00pm
                Location: TBD 
            <a href="http://www.charlestonareajusticeministry.org/index.php/faq/178-what-is-the-cajm-rally"> CAJM Rally</a>
            </div>
        </div>

        <div class="item-wrap"> 
            <div class="item-title">
                Nehemiah Action Assembly
            </div>
            <div class="item-descr"> 
                Bring at least three people with you!
                Location: TBD 
                Time: Mon 4/18/2016 7pm
            </div>
            <a href="http://www.charlestonareajusticeministry.org/index.php/faq/179-what-is-the-cajm-nehemiah-action"> Nehemiah Action Assembly 
            </a>
        </div>

        <div class="item-wrap"> 
            <div class="item-title">
                Celebration and Investment Drive Kick-Off
            </div>
            <div class="item-descr"> 
                Location: TBD 
                Time: Mon 5/23/2016 7pm
            </div>
            <a href="http://www.charlestonareajusticeministry.org/index.php/faq/180-what-is-the-cajm-celebration">
            CAJM Celebration </a>
        </div>

        <div style="clear: both">
        </div>

    </div>



    <div class="issue-wrap">

        <div class="banner">
            <span class="banner-title"> 
               Issues
            </span>
        </div>

        <div class="item-wrap"> 
            <div class="item-title"> 
                Wage Theft
            </div>
            <div class="item">
                <ul>
                    <li>        
                        <a href="http://www.postandcourier.com/article/20150424/PC1204/150429573"> 
                            <span> Fighting Wage Theft </span>
                        </a>                                        
                    </li>       
                </ul> 
            </div>   
        </div>    
        <div class="item-wrap"> 
            <div class="item-title"> 
                Homelessness
            </div>
            <div class="item">
                <ul>
                    <li>        
                        <a href="http://icarejax.org/homelessness/"> 
                            <span> Homelessness </span>
                        </a>                                        
                    </li>       
                </ul> 
            </div>   
        </div>      
        <div class="item-wrap">
            <div class="item-title"> 
                Children's Concerns
            </div> 
            <div class="item">
                <ul>
                    <li>  
                        <a href="http://www.justicemattersinkansas.org/justice_matters_child_welfare"> 
                            <span> Child Welfare </span>
                        </a> 
                    </li>
                </ul>
            </div>
        </div>


        <div style="clear: both">
        </div>

    </div>


    <div class="other-wrap">

        <div class="banner">
            <span class="banner-title"> 
               History and Current Media
            </span>
        </div>

        <div class="item-wrap"> 
            <div class="item-title"> 
                CAJM in the News
            </div>
            <div class="item">
                <ul>
                    <li>        
                        <a href="http://www.postandcourier.com/article/20150424/PC1204/150429573"> 
                            <span> Fighting Wage Theft </span>
                        </a>                                        
                    </li>
                    <li>
                        <a href="http://www.postandcourier.com/article/20131115/PC12/131119588"> 
                            <span> Diverse in Faith, United in Purpose </span>
                        </a>
                    </li>
                    <li> 
                        <a href="http://www.charlestoncitypaper.com/charleston/at-nehemiah-action-pastors-demand-policy-change-with-confrontational-techniques/Content?oid=4912669"> 
                            <span> CAJM Speaks Truth to Power </span>
                        </a>
                    </li>                           
                </ul> 
            </div>   
        </div>     

        <div class="item-wrap"> 
            <div class="item-title"> 
                Videos
            </div>
            <div class="item">
                <ul>
                    <li>        
                        <a href="http://www.postandcourier.com/article/20150424/PC1204/150429573"> 
                            <span> Fighting Wage Theft </span>
                        </a>                                        
                    </li>                         
                </ul> 
            </div>   
        </div>  

        <div class="item-wrap-wide"> 
            <div class="item-title"> 
                CAJM History
            </div>
            <div class="item-descr">
                CAJM began in 2011 when a group of clergy gathered together to form a Sponsoring Committee with the Director of DART to begin the process of establishing a justice organization in the Charleston area. In October of 2012, member congregations came together and voted to address the following issues: Schools/Education and Crime/Violence. CAJM's research committees worked tirelessly to identify the specific issues for CAJM to address. 
            </div>   
        </div> 

        <div class="item-wrap"> 
            <div class="item-title"> 
                Social Media
            </div>
            <div class="social-media-item">
                <ul>
                    <li>        
                        <a class="facebook" href="https://www.facebook.com/charlestonareajusticeministry/"> 
                            f 
                        </a>  
                    </li>
                    <li>
                        <a class="twitter" href="https://twitter.com/justice_chs"> 
                            t 
                        </a>                                       
                    </li>      
                    <li>
                        <a class="twitter" href="https://twitter.com/cajmrevolution"> 
                            t 
                        </a>                                       
                    </li>                      
                </ul> 
            </div>   
        </div> 

        <div style="clear: both">
        </div>

    </div>


</body> 

</html>
