<!DOCTYPE html>

<html>
<head>

    <title> Charleston Area Justice Ministry </title> 

    <!-- Stylesheet -->
    <link rel="stylesheet" href="styles.css" />
</head>

<!-- begin page wrapper and body -->
<body> 
    <div class="screen_wide_spacer"> </div>
    
    
    <div class="banner">
        <div class="banner-title">
            Charleston Area Justice Ministry
        </div>
        <div class="graphic">
            <img src="assets/images/cross_star_crescent.jpg"
            width="200" height="275"/>     
        </div>
        <div class="descr-and-links">
            <div class ="description">
                    The Charleston Area Justice Ministry — CAJM —is a growing network of Faith Based Congregations who are culturally, economically, geographically and religiously diverse – coming together to make the Charleston area a more just place to live. Member congregations (currently 20) work together to empower marginalized people in our communities.  We accomplish this by doing research, educating the public, and publically addressing the root causes of, and solutions to, poverty and injustice in our communities. CAJM is unique in its approach in that it transforms the systems that cause suffering by holding local officials accountable for resolving these inequities and injustices.                
            </div>
            <div class ="links">    
                <a href="#" class="button"> Donate to CAJM </a>
            </div>
        </div>
    </div>


    <div class="item-wrap"> 
        <div class="item-title"> 
            See Treva's August CAJM Update
        </div>
        <div class="item"> 2015-2016 CAJM Meetings at a glance 
            <li> 
                CAJM Member Congregations 
            </li>

            <li> CAJM Corporate Partners </li>
        </div>

    </div>

    <div class="issue-wrap">

    </div>

    <div class="event-wrap">
    <div class="item-wrap"> 
        <div class="item-title"> 
            Research Kick-Off
        </div>    
        <div class="item-descr"> 
            Time: Mon Dec 7th 7:00pm
            Location: TBD 
        </div>
    </div>

    <div class="item-wrap"> 
        <div class="item-title"> 
            Rally
        </div> 
        <div class="item-descr"> 
            Time: Mon Mar 14th 7:00pm
            Location: TBD 

        </div>
    </div>

    <div class="item-wrap"> 
        <div class="item-title">
            Nehemiah Action Assembly
        </div>
        <div class="item-descr"> 
            Bring at least three people with you!
            Location: TBD 
            Time: Mon Apr 18th 7:00pm
        </div>
    </div>

    <div class="item-wrap"> 
        <div class="item-title">
            Celebration and Investment Drive Kick-Off
        </div>
        <div class="item-descr"> 
            Location: TBD 
            Time: Mon May 23rd 7:00pm
        </div>
    </div>

    <div class="clearfix"></div>

    <div style="clear: both"></div>

    </div>

    <div class="item-wrap">
        <div class="item-title"> 
        December Events
        </div> 
        <li>  </li>
        <div class="item-descr"> 
            Would you like to invest in the Charleston Area Justice Ministry? 
        </div>
        <div class="button"> 
            Make a donation 
        </div>
 
    </div>

    <div class="item-wrap"> 
        <div class="item-title"> 
            POST & COURIER Features CAJM
        </div>    
    </div>

    





</body> 

</html>
