<!DOCTYPE html>

<html>
<head>

    <title> Charleston Area Justice Ministry </title> 

    <script type="text/javascript" >
        document.title = "Charleston Area Justice Ministry";
    </script>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="styles.css" />
</head>

<!-- begin page wrapper and body -->
<body> 
    <div class="screen_wide_spacer"> </div>
    
    <div class="banner">
        <span class="banner-title">
            Charleston Area Justice Ministry
        </span>
        <div class="top-wrap">
            <div class="description">
                    The Charleston Area Justice Ministry, CAJM, is a growing network of Faith Based Congregations who are culturally, economically, geographically and religiously diverse – coming together to make the Charleston area a more just place to live. Member congregations (currently 30) work together to empower marginalized people in our communities. We accomplish this by doing research, educating the public, and publically addressing the root causes of, and solutions to, poverty and injustice in our communities. CAJM is unique in its approach in that it transforms the systems that cause suffering by holding local officials accountable for resolving these inequities and injustices.                
            </div>
            <div class ="links">    
                <div class="button-link">
                    <ul>
                        <li>        
                            <!-- Check this link for functionality -->
                            <a href="/donate.html"> 
                                <span> Will you invest in CAJM? </span>
                            </a>                                        
                        </li>       
                    </ul> 
                </div> 
            </div>

        </div>

    </div>

    <div class="thumbnail-wrap">
        <a class="anchor" id="events"></a>
        <div class="banner">
            <span class="banner-title"> 
               Events
            </span>
        </div>

        <div class="thumbnail long"> 
            <div class="thumbnail-title">
                Nehemiah Action Assembly
            </div>
            <div class="thumbnail-descr"> 
                <ul>
                    <li> Bring at least three people with you! </li>
                    <li> Location: Mt. Moriah Baptist Church, North Charleston, SC </li>
                    <li> Time: Mon 4/18/2016 7pm </li>
                    <li> Directions and Parking Info in map below. </li>
                </ul>
            </div>

        </div>

        <div class="thumbnail"> 
            <div class="thumbnail-title">
                Celebration and Investment Drive Kick-Off
            </div>
            <div class="thumbnail-descr"> 
                Location: TBD 
                Time: Mon 5/23/2016 6:30pm
            </div>
            <div class="button-link">
                <ul>
                    <li>        
                        <a href="/faqs.html#celebration"> 
                            <span> Celebration </span>
                        </a>                                        
                    </li>       
                </ul> 
            </div> 
        </div>
    </div>

    <div class="thumbnail-wrap">
        <a class="anchor" id="events"></a>
        <div class="banner">
            <span class="banner-title"> 
               Maps and Directions
            </span>
        </div>
        <a href="#">
          <img src="assets/images/mt_moriah_baptist_directions_and_parking.jpg" width="400" height="300" /> 
        </a>
    </div>

    <div class="thumbnail-wrap">
        <a class="anchor" id="calendar"></a>
        <div class="banner">
            <span class="banner-title">
                Calendar
            </span>
        </div>

        <div class="top-wrap">
            <iframe src="https://calendar.google.com/calendar/embed?src=frv1duluajgavkkei90kacegd4%40group.calendar.google.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no">
            </iframe>
        </div>
    </div>

    

    <div class="thumbnail-wrap">
        <a class="anchor" id="historymedia"></a>
        <div class="banner">
            <span class="banner-title"> 
               History and Current Media
            </span>
        </div>

        <div class="thumbnail long"> 
            <div class="thumbnail-title"> 
                CAJM in the News
            </div>
            <div class="button-link">
                <ul>
                    
                    <li>        
                        <a href="http://m.charlestoncitypaper.com/TheBattery/archives/2016/04/15/justice-ministry-and-city-officials-remain-at-odds-over-forum"> 
                            <span> Justice Ministry and city officials remain at odds over forum </span>
                        </a>                                        
                    </li>                    
                    <li>        
                        <a href="http://www.postandcourier.com/article/20160314/PC16/160319638/charleston-area-justice-ministry-calls-for-change-in-police-practices-at-annual-rally"> 
                            <span> CAJM calls for change in police practices at annual rally </span>
                        </a>                                        
                    </li>
                    <li>
                        <a href="http://www.postandcourier.com/article/20160409/PC1002/160409428/1021/enhance-trust-in-the-police"> 
                            <span> Enhance trust in the police </span>
                        </a>
                    </li>
                    <li> 
                        <a href="http://www.reuters.com/article/us-south-carolina-shooting-idUSKCN0X10TN"> 
                            <span> Tension endures a year after black man shot by South Carolina officer </span>
                        </a>
                    </li>                           
                </ul> 
            </div> 
            <div class="button-link">
                <ul>
                    <li>        
                        <a href="http://www.postandcourier.com/article/20150424/PC1204/150429573"> 
                            <span> Fighting Wage Theft </span>
                        </a>                                        
                    </li>                         
                </ul> 
            </div>   
        </div>     

        <div class="thumbnail"> 
            <div class="thumbnail-title"> 
                CAJM History
            </div>
            <div class="thumbnail-descr">
                CAJM began in 2011 when a group of clergy gathered together to form a Sponsoring Committee with the Director of DART to begin the process of establishing a justice organization in the Charleston area. In October of 2012, member congregations came together and voted to address the following issues: Schools/Education and Crime/Violence. CAJM's research committees worked tirelessly to identify the specific issues for CAJM to address. 
            </div>   
        </div> 

        <div class="thumbnail"> 
            <div class="thumbnail-title"> 
                Social Media
            </div>
            <div class="social-media-item">
                <ul>
                    <li>        
                        <a class="facebook" href="https://www.facebook.com/charlestonareajusticeministry/"> 
                            f 
                        </a>  
                    </li>     
                    <li>
                        <a class="twitter" href="https://twitter.com/cajmrevolution"> 
                            t 
                        </a>                                       
                    </li>                      
                </ul> 
            </div>   
        </div> 
    </div>

    <div class="thumbnail-wrap">
        <a class="anchor" id="issues"></a>
        <div class="banner">
            <span class="banner-title"> 
               Issues
            </span>
        </div>

        <div class="thumbnail"> 
            <div class="thumbnail-title"> 
                Wage Theft
            </div>
            <div class="button-link">
                <ul>
                    <li>        
                        <a href="http://www.postandcourier.com/article/20150424/PC1204/150429573"> 
                            <span> Fighting Wage Theft </span>
                        </a>                                        
                    </li>       
                </ul> 
            </div>   
        </div>    
        
        <div class="thumbnail"> 
            <div class="thumbnail-title"> 
                Homelessness
            </div>
            <div class="button-link">
                <ul>
                    <li>        
                        <a href="http://icarejax.org/homelessness/"> 
                            <span> Homelessness </span>
                        </a>                                        
                    </li>       
                </ul> 
            </div>   
        </div>      
        
        <div class="thumbnail">
            <div class="thumbnail-title"> 
                Children's Concerns
            </div> 
            <div class="button-link">
                <ul>
                    <li>  
                        <a href="http://www.justicemattersinkansas.org/justice_matters_child_welfare"> 
                            <span> Child Welfare </span>
                        </a> 
                    </li>
                </ul>
            </div>
        </div>

    </div>


    <div class="thumbnail-wrap">
        <a class="anchor" id="aboutus"></a>
        <div class="banner">
            <span class="banner-title"> 
               About Us
            </span>
        </div>

        <div class="thumbnail long"> 
            <div class="thumbnail-title"> 
                Who is CAJM?
            </div>
            <div class="thumbnail-descr">
                The Charleston Area Justice Ministry—CAJM—is a growing network of Faith Based Congregations who are culturally, economically, geographically and religiously diverse – coming together to make the Charleston area a more just place to live. Member congregations (currently 20) work together to empower marginalized people in our communities.  We accomplish this by doing research, educating the public, and publically addressing the root causes of, and solutions to, poverty and injustice in our communities. CAJM is unique in its approach in that it transforms the systems that cause suffering by holding local officials accountable for resolving these inequities and injustices. 
            </div>   
        </div> 

        <div class="thumbnail long"> 
            <div class="thumbnail-title"> 
                Our Mission
            </div>
            <div class="thumbnail-descr">
                The Charleston Area Justice Ministry is committed to justice and building a powerful organization capable of negotiating the interests of our community.  Having been founded by religious congregations, CAJM is based on values of justice and compassion as shared values of our faith traditions. 
            </div>  
        </div> 

        <div class="thumbnail long"> 
            <div class="thumbnail-title"> 
                Our Model
            </div>
            <div class="thumbnail-descr">
                CAJM uses a proven model developed by The Direct Action and Research Training Center, Inc. (DART) to achieve its goals. DART is committed to building powerful, diverse, congregation-based and democratically-run organizations capable of winning justice on issues facing the community. Since 1982, DART has helped establish over twenty locally affiliated organizations in five states and trained over 10,000 community leaders and 150 professional Community Organizers.
            </div>  
        </div> 

        <div class="thumbnail long"> 
            <div class="thumbnail-title"> 
                Our History and Our Future
            </div>
            <div class="thumbnail-descr">
                CAJM began in 2011 when a group of clergy gathered together to form a Sponsoring Committee with the Director of DART to begin the process of establishing a justice organization in the Charleston area. In October of 2012, member congregations came together and voted to address the following issues: Schools/Education and Crime/Violence. CAJM's research committees worked tirelessly to identify the specific issues for CAJM to address.
            </div>  
        </div> 


        <div class="thumbnail long"> 
            <div class="thumbnail-title"> 
                Nehemiah Action - April 29, 2013 St. Matthews Missionary Baptist Church, North Charleston
            </div>
            <div class="thumbnail-descr">
                We turned out over 1,500 people at our first annual public meeting to gain commitments from our public officials toward the use of best practices to correct systemic injustices.
                With our power of people, we gained a commitment from Dr. McGinley, Superintendent of Charleston County Public Schools to submit a proposal to the Charleston County School District Board of Trustees to provide preschool education to ALL of the county's 4 year olds in Title I schools by the year 2015, to implement a research-based literacy curriculum, and to measure the progress of those children through third grade.  We also gained commitments from our local law enforcement officials, the Department of Juvenile Justice, and Solicitor General Wilson to participate in our task force to develop a plan to reduce pretrial detention by 65% in 2014.  
            </div>  
        </div> 

        <div class="thumbnail long"> 
            <div class="thumbnail-title"> 
                Progress
            </div>
            <div class="thumbnail-descr">
                On June 24, 2013, the Board of Trustees approved Dr. McGinley's proposal to fund 300 additional slots for early childhood education.  We prayerfully look forward to receiving a favorable report from the law enforcement task force in October 2013.   
            </div>  
        </div> 

        <div class="thumbnail long"> 
            <div class="thumbnail-title"> 
                Please Join Us!
            </div>
            <div class="thumbnail-descr">
                However you feel called to do justice, whether it is God’s call or your innate sense of fairness and compassion, please join us!  Visit our Facebook page at www.facebook.com/charlestonareajusticeministry .   
            </div>  
        </div> 

    </div>

</body> 

</html>
