<!DOCTYPE html>

<html>
<head>

    <title> CAJM Constitution and By-Laws </title> 

    <script type="text/javascript" >
        document.title = "Constitution and By-Laws";
    </script>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/assets/stylesheets/global.css" />

    <link href='https://fonts.googleapis.com/css?family=Dancing+Script' 
        rel='stylesheet' type='text/css'>

    <script src="/assets/javascripts/jquery-1.11.3.min.js">
    </script>

    <script src="/assets/javascripts/yaml_min.js">
    </script>

    <script src="/assets/javascripts/laws.js">
    </script> 
    
</head>

<!-- begin page wrapper and body -->
<body> 
    <div class="screen_wide_spacer"> 
    </div>
    
    <div class="banner" id="banner-laws">
        <span class="banner-title">
            Constitution and Bylaws for the Charleston Area Justice Ministry
        </span>
        
        <div class="graphic">
            <img src="assets/images/cross_star_crescent.jpg"
            width="100" height="150"/>     
        </div>
        
        <div class="top-wrap">
            <div class="dancing-cursive">
                <h2> 
                    Preamble  
                </h2>             
            </div>
            <p>
                CAJM is an organization composed of religious congregations and other community organizations.  Our member organizations, of diverse racial, religious, and economic backgrounds, pledge to work together to research and conduct public education to address the root causes of poverty and injustice, through the empowerment of marginalized people.               
            </p>
        </div>
    
        <div class="top-wrap">
            <div class="dancing-cursive">
                <h2> 
                    Article I  
                </h2>   
                <h3> 
                    Incorporation  
                </h3>            
            </div>
            <ol>
                <li>
                    The name of this organization shall be “Charleston Area Justice Ministry (CAJM)”.
                </li>
                <li>
                    CAJM shall be a non-profit corporation, established in accordance with section 501 (c)(3) of the Tax Code of the Internal Revenue Service and the laws of the State of South Carolina.
                </li>
                <li>
                    Authority is vested in the Annual Assembly (“Annual Assembly”), which is the ultimate decision-making body for the organization which delegates authority and responsibility between meetings to the Leadership Senate.
                </li>               
            </ol>
        </div>

        <div class="top-wrap">
            <div class="dancing-cursive">
                <h2> 
                    Article II  
                </h2>   
                <h3> 
                    Affiliation with Direct Action and Research Training Center, Inc. (DART)
                </h3>            
            </div>
            <ol>
                <li>
                    CAJM shall maintain an affiliation with the Direct Action and Research Training Center, Inc. (DART). 
                </li>
                <li>
                    CAJM shall rely on DART to provide training and consulting support for CAISC leaders and to recruit and train new organizing staff.  
            </li>           
            </ol>
        </div>

        <div class="top-wrap">
            <div class="dancing-cursive">
                <h2> 
                    Article III  
                </h2>   
                <h3> 
                    Membership
                </h3>            
            </div>
            <ol>
                <li>
                     Congregations become member organizations of CAJM after subscribing to the following covenant: _______ (name of the congregation), enters into a covenant with CAJM for the purpose of more successfully practicing our values in our community by:
                     <ol>
                        <li>
                            Building a Justice Ministry Network in our congregation;  
                        </li>  
                        <li>
                            Engaging in a listening process, training leaders, developing solutions, and taking action to improve community conditions;  
                        </li> 
                     </ol>
                </li>         
            </ol>
        </div>

    </div>

</body> 

</html>
